Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

process_replay: fix support for single cam segments (#30143)
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/vision_meta.py
Due: mypy, pylint

regen: fix wide road camera msg name (#30147)
  selfdrive/test/process_replay/regen.py
Due: mypy, pylint

Subaru: crosstrek hybrid is a B harness (#30150)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

CI: label for research and fix CI/testing label (#30152)
  .github/labeler.yaml
Due: none

Night Strike Model (#30148)
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Fingerprint: 2023 Volkswagen Taos (#30126)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Update Python packages and pre-commit hooks (#30149)
  .pre-commit-config.yaml
  common/transformations/README.md
  selfdrive/ui/qt/widgets/input.h
  system/sensord/pigeond.py
  tools/cabana/chart/chart.cc
  tools/replay/replay.cc
Due: mypy, pylint, cppcheck

pandad: ensure panda is in a good state before each test case (#30151)
  selfdrive/boardd/tests/test_pandad.py
Due: mypy, pylint

modeld: don't attempt to connect extra vipc client if its not available (#30154)
  selfdrive/modeld/modeld.py
Due: mypy, pylint

Tests: fix pandad setup (#30160)
  selfdrive/boardd/tests/test_pandad.py
Due: mypy, pylint

process_replay: migrate cameraState timestampSof if its missing (#30153)
  selfdrive/test/process_replay/migration.py
Due: mypy, pylint

add random order plugin (#30166)
  pyproject.toml
Due: none
