Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

agnos 9.5 (#31313)
  launch_env.sh
  system/hardware/tici/agnos.json
Due: none

test_power_draw: wait for power instead of fixed warmup time (#31318)
  system/hardware/tici/tests/test_power_draw.py
Due: mypy, pylint

Add Lexus LC 2024 to release notes
  RELEASES.md
Due: none

add cd for jenkins replacement scripts (#31355)
  selfdrive/car/tests/big_cars_test.sh
  selfdrive/test/scons_build_test.sh
Due: none

[bot] Fingerprints: add missing FW versions from new users (#31352)
  selfdrive/car/honda/fingerprints.py
Due: mypy, pylint

agnos 9.6 (#31357)
  launch_env.sh
  system/hardware/tici/agnos.json
Due: none

[bot] Fingerprints: add missing FW versions from new users (#31358)
  selfdrive/car/chrysler/fingerprints.py
Due: mypy, pylint

test_time_to_onroad: log events after onroad/timeout (#31359)
  selfdrive/test/test_time_to_onroad.py
Due: mypy, pylint

add loop_until_fail helper (#31360)
  selfdrive/test/loop_until_fail.sh
Due: none

test_time_to_onroad: log events after engagability/timeout (#31362)
  selfdrive/test/test_time_to_onroad.py
Due: mypy, pylint

Fix whitespace (#31361)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Re-use existing params declaration in onboarding (#31363)
  selfdrive/ui/qt/offroad/onboarding.cc
Due: cppcheck

test_fw_fingerprint: remove timeout
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

fix static analysis
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint
