Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana: support undo/redo zoom (#27799)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

cabana: do not emit DBCFileChanged if no file changes (#27800)
  tools/cabana/dbc/dbcmanager.cc
Due: none

cabana: fix text overlapping in sparkline (#27801)
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
Due: none

don't show temp steering faults while overriding (#27797)
  selfdrive/car/interfaces.py
Due: mypy, pylint

VW: Long control message builder cleanup (#27802)
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Due: mypy, pylint

cababa: display '--' in chart tooltip if no min max values (#27798)
  tools/cabana/chartswidget.cc
Due: none

car docs: add field for min compatibility requirements (#27805)
  selfdrive/car/docs_definitions.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

add panda watchdog fault (#27808)
  selfdrive/boardd/boardd.cc
Due: cppcheck

VW PQ: Miscellaneous longitudinal bug fixes (#27803)
  selfdrive/car/volkswagen/pqcan.py
Due: mypy, pylint

plotjuggler: ublox debug layout
  tools/plotjuggler/layouts/ublox-debug.xml
Due: none

tizi tests in jenkins (#27810)
  Jenkinsfile
  selfdrive/boardd/tests/test_boardd_loopback.py
  selfdrive/boardd/tests/test_pandad.py
Due: mypy, pylint

tizi: affine IRQ by action instead of number (#27811)
  common/gpio.py
  selfdrive/debug/profiling/watch-irqs.sh
  system/hardware/tici/hardware.py
  system/sensord/tests/test_sensord.py
Due: mypy, pylint

OX03C10: improve tone mapping (#27754)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/real_debayer.cl
Due: cppcheck
