Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

metadrive: fix dual_camera mode (#30743)
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
Due: mypy, pylint

Metadrive: set near clip (#30745)
  tools/sim/bridge/metadrive/metadrive_bridge.py
Due: mypy, pylint

test_onroad: fix test_log_sizes when running inside a prefix
  selfdrive/test/test_onroad.py
Due: mypy, pylint

uploader: reduce max qlog/qcam size (#30746)
  system/loggerd/uploader.py
Due: mypy, pylint

Docker: cleanup .git and test folders (#30747)
  Dockerfile.openpilot_base
Due: none

full clean for onroad device
  Jenkinsfile
Due: none

jenkins: always do the copy in safe_checkout
  selfdrive/test/setup_device_ci.sh
Due: none

test_models: check consitency between panda and openpilot for velocity (#30750)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

Revert "test_models: check consitency between panda and openpilot for velocity (#30750)" (#30753)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

test_models: use gen_empty_fingerprint (#30752)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

ui: remove unused `roadCameraState` from submaster (#30757)
  selfdrive/ui/ui.cc
Due: cppcheck

camerad/CameraBuf: remove deprecated rgb_stride (#30758)
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Due: cppcheck

cleanup python dependencies (#30764)
  pyproject.toml
Due: none
