Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Volkswagen PQ Longitudinal: Display personality in instrument cluster (#31837)
  selfdrive/car/volkswagen/pqcan.py
Due: mypy, pylint

Volkswagen: add engine/transmission/srs ECU versions for PASSAT_MK8 (#31777)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

Update fingerprints.py 2022 Ford F-150 PowerBoost (fwdCamera) (#31462)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/values.py
Due: mypy, pylint

Mazda CX-5 2024 Fingerprint (#30882)
  selfdrive/car/mazda/fingerprints.py
Due: mypy, pylint

Skoda Kodiaq Sportline 2023 fingerprints (#30845)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

HKG: Add FW versions for Genesis G70 2023 (#30759)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

VW MQB: Add FW for 2017 Touran (#30863)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

Update ref_commit old-commit-hash: 1e86269ab745a7e12d949f5470c342dff7c1c851 old-commit-hash: ba4955641a02a35195cb8c80a17c0b85fac28524
  selfdrive/test/process_replay/ref_commit
Due: none

Update ref_commit old-commit-hash: 1e86269ab745a7e12d949f5470c342dff7c1c851
  selfdrive/test/process_replay/ref_commit
Due: none

VW MQB: Add FW for 2017 Kodiaq (#31368)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from new users (#31839)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

Fingerprints migration dictionary (#31838)
  selfdrive/car/fingerprints.py
  selfdrive/debug/test_fw_query_on_routes.py
Due: mypy, pylint

Reapply "ui: brighten cameraview (#29744)" (#31846)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

Chrysler: Parse distance button from steering wheel (#31764)
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/interface.py
Due: mypy, pylint

camera: add all_cams iterator, allow None camera, add camera size property (#31835)
  common/transformations/camera.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
