Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Update SSH README old-commit-hash: f210b2da08cd2cf95cd6f47b33d83febd772b3ac old-commit-hash: d15050e349073687f9a92aa70068699e63f330f3
  tools/ssh/README.md
Due: none

Update SSH README old-commit-hash: f210b2da08cd2cf95cd6f47b33d83febd772b3ac
  tools/ssh/README.md
Due: none

cabana: fix bg color issue for inactive item (#28468)
  tools/cabana/signalview.cc
  tools/cabana/util.cc
Due: none

kor translation update (#28469)
  selfdrive/ui/translations/main_ko.ts
Due: none

cabana: add "view" menu to the menu bar (#28467)
  tools/cabana/mainwin.cc
Due: none

Honda: set autoResumeSng for docs (#28458)
  selfdrive/car/honda/interface.py
Due: mypy, pylint

car docs: test print_docs_diff (#28459)
  selfdrive/car/tests/test_docs.py
Due: mypy, pylint

cloudlog process not running (#28472)
  selfdrive/controls/controlsd.py
Due: mypy, pylint

test_amp: wait for panda
  system/hardware/tici/tests/test_amplifier.py
Due: mypy, pylint

MapPanel cleanup (#28474)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

process_replay: deprecated message migration (#28456)
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
Due: mypy, pylint

thermald: lower threshold to exit red band old-commit-hash: a77d226f33f618b965204c700fd0bfeb5f1547ab old-commit-hash: e930073c53e9db8e4f771629b05d871e9db31017
  selfdrive/thermald/thermald.py
Due: mypy, pylint

thermald: lower threshold to exit red band old-commit-hash: a77d226f33f618b965204c700fd0bfeb5f1547ab
  selfdrive/thermald/thermald.py
Due: mypy, pylint

env: add dateutil types (#28478)
  pyproject.toml
Due: none

FwQueryConfig: add platform code support and tests (#28475)
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint
