Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cleanup up old lib64 references (#30246)
  release/files_common
  selfdrive/test/test_onroad.py
  selfdrive/ui/soundd/soundd
  selfdrive/ui/spinner
  selfdrive/ui/text
  selfdrive/ui/ui
  system/sensord/.gitignore
  system/sensord/SConscript
  system/sensord/sensord
  system/sensord/tests/test_sensord.py
Due: mypy, pylint

docs: move to gh pages (#30242)
  .github/workflows/docs.yaml
  .github/workflows/tools_tests.yaml
  docs/docker/Dockerfile
  docs/docker/nginx.conf
  selfdrive/test/docker_common.sh
Due: none

CI: update to checkout@v4 (#30248)
  .github/workflows/badges.yaml
  .github/workflows/labeler.yaml
  .github/workflows/prebuilt.yaml
  .github/workflows/release.yaml
  .github/workflows/repo-maintenance.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

Subaru: 2021 impreza fingerprint (#30249)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

loggerd: add wall time to initData (#30251)
  system/loggerd/logger.cc
Due: cppcheck

add fingerprinting template (#30257)
  .github/pull_request_template.md
Due: none

test_processes: assert that mazda is tested (#30258)
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

compare_logs: better names for short/long diffs (#30263)
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

ui.py: support strided buffer (#30236)
  tools/replay/ui.py
Due: mypy, pylint

Added firmware values for 2020 VW Passat NMS (#30233)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Add missing COROLLA_TSS2 engine (#30267)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

events: fixup printing script (#30268)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

Bump tinygrad to master (0.7) (#30254)
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Proc Replay: cleanup iterable log typing (#30261)
  selfdrive/test/process_replay/README.md
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  tools/lib/logreader.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
