Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana: some improvements (#32161)
  tools/cabana/chart/chart.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/utils/util.cc
  tools/cabana/utils/util.h
Due: none

fix uiview (#32290)
  selfdrive/debug/uiview.py
Due: mypy, pylint

replay: shared decoder context (#32255)
  tools/replay/framereader.cc
  tools/replay/framereader.h
  tools/replay/route.cc
Due: none

update pip/poetry versions (#32289)
  tools/install_python_dependencies.sh
Due: none

ui/map: check valid before accessing `PositionECEF` (#31961)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

ui/network: add error handling for refreshFinished (#32167)
  selfdrive/ui/qt/network/wifi_manager.cc
Due: cppcheck

ui/network: add error handing for dbus `call` (#32164)
  selfdrive/ui/qt/network/wifi_manager.cc
Due: cppcheck

cabana: increase cache limits (#32295)
  tools/cabana/settings.cc
Due: none

ui/cameraview: merge EGL Image Clearing code into `clearEGLImages()` (#32292)
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

camerad: Localizing the variable "ret" (#32294)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_util.cc
  system/camerad/main.cc
Due: cppcheck

Revert "ui/cameraview: merge EGL Image Clearing code into `clearEGLImages()` (#32292)"
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

[bot] Fingerprints: add missing FW versions from new users (#32300)
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

Subaru: Increase RPM Limit (#32299)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

commabody: ignore fcw alerts (#32301)
  selfdrive/controls/controlsd.py
Due: mypy, pylint
