Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui: remove function `configFont`. use `struct InterFont ` (#28773)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

cabana: preserve msg transmitter & signal receiver when saving DBC (#28825)
  tools/cabana/dbc/dbc.cc
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/tests/test_cabana.cc
Due: none

Refactor model runners (#28598)
  selfdrive/modeld/models/dmonitoring.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/nav.cc
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
Due: cppcheck

Toyota: log another permanent LTA fault (#28833)
  selfdrive/car/toyota/carstate.py
Due: mypy, pylint

Hyundai: explicitly copy signals to forward (#28020) (#28604)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy, pylint

VW: add MY23 Crafter FW (#28806)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Mazda CX-5 2022 fingerprint (#28803)
  selfdrive/car/mazda/values.py
Due: mypy, pylint

Toyota: add FW for Prius Plug-In MY2022 (#27420)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Compressed vipc improvements (#28837)
  tools/camerastream/compressed_vipc.py
Due: mypy, pylint

Remove acados symlink (#28824)
  SConstruct
Due: none

ui: add nav to prime features (#28842)
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
