Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

[bot] Fingerprints: add missing FW versions from new users (#32803)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

remove mapbox references (#32811)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  Jenkinsfile
  selfdrive/test/process_replay/model_replay.py
Due: mypy, pylint

setup new docs.comma.ai (#32813)
  docs/new/README.md
  docs/new/docs/car-porting/brand-port.md
  docs/new/docs/car-porting/model-port.md
  docs/new/docs/car-porting/what-is-a-car-port.md
  docs/new/docs/getting-started/what-is-openpilot.md
  docs/new/docs/how-to/turning-the-speed-blue.md
  docs/new/mkdocs.yml
Due: none

update pt-BR translation (#32814)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

[bot] Update Python packages and pre-commit hooks (#32818)
  .pre-commit-config.yaml
Due: none

cabana: fixed row height issue in multi-line hex display (#32816)
  tools/cabana/messageswidget.cc
Due: none

deleter: preserve two previous segments on user flag (#32822)
  system/loggerd/deleter.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from new users (#32823)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from new users (#32825)
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/values.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

Multilang: Add Spanish translation (#32826)
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_es.ts
Due: none

ui: add missing qt package on 24.04 (#32827)
  tools/install_ubuntu_dependencies.sh
Due: none

Hyundai CAN: Log ABS/ESP Activation to `espActive` (#32743)
  cereal/car.capnp
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/events.py
Due: mypy, pylint

Genesis GV70: add "without HDA II" to docs (#32835)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

ui: remove map & navigation related code (#32836)
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
