Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

nav: show warning for routing problems (#29055)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

deleter: preserve flagged segments (#28814)
  system/loggerd/deleter.py
  system/loggerd/loggerd.cc
  system/loggerd/loggerd.h
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_deleter.py
  system/loggerd/tests/test_loggerd.py
  system/loggerd/tests/test_uploader.py
Due: mypy, pylint, cppcheck

ui/map: move `MapInstructions` & `MapETA` to separate files (#28976)
  selfdrive/ui/SConscript
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_eta.cc
  selfdrive/ui/qt/maps/map_eta.h
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
Due: cppcheck

add seg preservation to release notes old-commit-hash: 0b71c395ceb3ec532698b98863a46ba959c9bc83
  RELEASES.md
Due: none

add seg preservation to release notes old-commit-hash: 0b71c395ceb3ec532698b98863a46ba959c9bc83 old-commit-hash: 3184b9d6467f792c78acec6fd3b371991e698a18
  RELEASES.md
Due: none

bump panda (#29066)
  selfdrive/boardd/tests/bootstub.panda_h7.bin
Due: none

process_replay: ability to permanently unlock some sockets (#29070)
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

ui: set global map transition duration (#29061)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

radard: cleanup and refactor (#29071)
  selfdrive/controls/radard.py
Due: mypy, pylint

process replay: remove sorting before comparison (#29072)
  selfdrive/test/process_replay/compare_logs.py
Due: mypy, pylint

Nav: Reset backoff on route clearing (#29067)
  selfdrive/navd/navd.py
Due: mypy, pylint

ui/map: fix ETA widget text spacing (#29065)
  selfdrive/ui/qt/maps/map_eta.cc
Due: cppcheck

agnos 8 (#28843)
  .python-version
  Dockerfile.openpilot_base
  SConstruct
  launch_env.sh
  mypy.ini
  pyproject.toml
  selfdrive/athena/athenad.py
  selfdrive/boardd/pandad.py
  selfdrive/car/car_helpers.py
  selfdrive/car/docs_definitions.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/plannerd.py
  selfdrive/controls/radard.py
  selfdrive/debug/dump.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/debug/run_process_on_route.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/laikad.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/test/_test_locationd_lib.py
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/helpers.py
  system/hardware/tici/agnos.json
  system/sensord/rawgps/compare.py
Due: mypy, pylint

nav: improve no route alert text (#29076)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

test_models: panda safety tx test (#28949)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
