Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

fix speed of mock car with qcom gps (#25993)
  selfdrive/car/mock/interface.py
Due: mypy, pylint

Divide by 0 bug fix lateral planner (#25995)
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

README -> README.md (#26005)
  tools/cabana/README.md
Due: none

safer modem manager commands (#25999)
  selfdrive/sensord/rawgps/rawgpsd.py
  selfdrive/sensord/rawgps/test_rawgps.py
  system/hardware/tici/hardware.py
Due: mypy, pylint

params: remove all files if call clearAll with the ParamKeyType.ALL key. (#26000)
  common/params.cc
  common/tests/test_util.cc
  common/util.cc
  common/util.h
Due: cppcheck

cabana: custom slider to indicate the status of engaged/disengaged/alerts (#26003)
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

VW MNB: Add EPS config script support (#26007)
  selfdrive/debug/vw_mqb_config.py
Due: mypy, pylint

tombstoned: remove android code
  selfdrive/tombstoned.py
Due: mypy, pylint

GM: use ECM brake-pressed threshold (#25970)
  selfdrive/car/gm/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

faster rocket launcher model (#26009)
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

rawgpsd: publish ephemerides (#25931)
  selfdrive/locationd/laikad.py
  selfdrive/sensord/rawgps/rawgpsd.py
  selfdrive/sensord/rawgps/structs.py
Due: mypy, pylint

Increase low speed jerk cost (#26008)
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Kia: update Optima platform name (#25852)
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: mypy, pylint

hyundai: fix logging stock AEB events (#25152)
  selfdrive/car/hyundai/carstate.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
