Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

update refs for max lat accel change
  selfdrive/test/process_replay/ref_commit
Due: none

EV6 blinkers (#26618)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaicanfd.py
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

Cabana: use opengl to draw the line series. (#26761)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

Navmodel and driving style: update runner (#26762)
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/nav.cc
  selfdrive/modeld/models/nav.h
  selfdrive/modeld/models/navmodel.onnx
  selfdrive/modeld/models/navmodel_q.dlc
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/runners/onnxmodel.h
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.cc
  selfdrive/modeld/runners/snpemodel.h
  selfdrive/modeld/runners/thneedmodel.cc
  selfdrive/modeld/runners/thneedmodel.h
  selfdrive/navd/map_renderer.cc
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Cabana: fix "show plot" button state sync issue (#26769)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

Replay: fix possible segfault on exit (#26768)
  tools/replay/replay.cc
Due: none

nav: build map renderer python lib by default (#26770)
  selfdrive/navd/SConscript
Due: none

controlsd: add blinkers to carControl (#26773)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

ui: stop vipc thread before the DriverViewWindow is hidden (#26738)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

common: add new class OpenPilotPrefix (#26753)
  common/prefix.h
  common/util.cc
  common/util.h
  release/files_common
  tools/cabana/cabana.cc
Due: cppcheck

Cabana: display all logs in log view (#26659)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/dbcmanager.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

sensord: add helper function verify_chip_id to I2CSensor (#25830)
  selfdrive/sensord/sensors/bmx055_accel.cc
  selfdrive/sensord/sensors/bmx055_gyro.cc
  selfdrive/sensord/sensors/bmx055_magn.cc
  selfdrive/sensord/sensors/bmx055_temp.cc
  selfdrive/sensord/sensors/i2c_sensor.h
  selfdrive/sensord/sensors/lsm6ds3_accel.cc
  selfdrive/sensord/sensors/lsm6ds3_gyro.cc
  selfdrive/sensord/sensors/lsm6ds3_temp.cc
  selfdrive/sensord/sensors/mmc5603nj_magn.cc
Due: cppcheck

Multilang: add German (#26411)
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_de.ts
Due: none

Corolla 2019 GX New Zealand: add missing FW versions (#26746)
  selfdrive/car/toyota/values.py
Due: mypy, pylint
