Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Canaba: remove unused metatype in canmessage (#26190)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
Due: none

Cabana: show frequency column in message table (#26189)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

Cabana: redirect qt logs to status bar (#26187)
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Due: none

Cabana: Fix unable to display charts for same signals from different buses. (#26191)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

Cabana: fix segment fault in QApplication::notify(QObject*, QEvent*) () (#26194)
  tools/cabana/detailwidget.cc
Due: none

Cabana: fix segfault on exit (#26193)
  tools/cabana/mainwin.cc
Due: none

Modeld: Add comment (#26188)
  selfdrive/modeld/models/driving.h
Due: cppcheck

use upstream tinygrad (#26178)
  .gitmodules
  release/files_common
  selfdrive/modeld/SConscript
  selfdrive/test/setup_device_ci.sh
Due: none

Pipenv -> poetry (#24858)
  .github/workflows/selfdrive_tests.yaml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile.openpilot_base
  Pipfile
  docs/docker/Dockerfile
  pyproject.toml
  tools/README.md
  tools/mac_setup.sh
  update_requirements.sh
Due: none

Revert "ci: don't trigger on pull request sync event (#25900)"
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

GM camera ACC: cancel after delay (#26197)
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
Due: mypy, pylint

Use calibrator to stabilize wide transform (#26201)
  selfdrive/locationd/calibrationd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

ci: run some jobs only on push (#26202)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none
