Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

VW MQB: Fahrzeuglängsbeschleunigungssteuerungseinrichtung (#22963)
  selfdrive/car/tests/routes.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

docs: expose available openpilot longitudinal control (#26312)
  docs/CARS.md
  selfdrive/car/docs.py
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

Compute zoom level and downsample image in map_renderer.cc (#26315)
  selfdrive/manager/process_config.py
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/navd/map_renderer.py
Due: mypy, pylint, cppcheck

test_onroad: temp disable max UI draw time check
  selfdrive/test/test_onroad.py
Due: mypy, pylint

GM: add longitudinal deadzone (#26323)
  selfdrive/car/gm/interface.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Toyota: unify deadzone params (#26325)
  selfdrive/car/toyota/interface.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

PJ: add longitudinal layout (#26324)
  tools/plotjuggler/layouts/longitudinal.xml
Due: none

GM camera ACC: vision-only ACC behind toggle (#25631)
  docs/CARS.md
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

cabana: optimize chart update (#26327)
  tools/cabana/chartswidget.cc
Due: none

Cabana: add y-axis padding (#26326)
  tools/cabana/chartswidget.cc
Due: none

camerad: fix OX not having vignetting comp (#26329)
  system/camerad/cameras/real_debayer.cl
Due: none

bump up controlsd cpu usage
  selfdrive/test/test_onroad.py
Due: mypy, pylint

CI: add LSM-C sensor device (#26303)
  Jenkinsfile
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
