Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

[bot] Update Python packages and pre-commit hooks (#31508)
  .pre-commit-config.yaml
  system/hardware/tici/agnos.py
Due: mypy, pylint

more modeld logging (#31510)
  selfdrive/modeld/modeld.py
Due: mypy, pylint

add Cython static analysis (#31491)
  .pre-commit-config.yaml
  common/params_pyx.pyx
  common/transformations/transformations.pxd
  common/transformations/transformations.pyx
  selfdrive/modeld/models/commonmodel_pyx.pxd
  selfdrive/modeld/runners/runmodel_pyx.pyx
Due: none

More startup checks (#31511)
  selfdrive/manager/process.py
  selfdrive/test/test_time_to_onroad.py
Due: mypy, pylint

Modeld: cleanup unused variables (#31516)
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
Due: mypy, pylint

Certified Herbalist Model (#31425)
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Alerts: fix inconsistent capitalization (#31514)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

debug: print log messages in relative time
  selfdrive/debug/filter_log_message.py
Due: mypy, pylint

modeld: add extra log for startup time debugging
  selfdrive/modeld/modeld.py
Due: mypy, pylint

Make ui independent of launch path (#31517)
  selfdrive/ui/qt/util.cc
Due: cppcheck

[bot] Fingerprints: add missing FW versions from new users (#31518)
  selfdrive/car/chrysler/fingerprints.py
Due: mypy, pylint

Simulator: simulate the obd enabled/changed dance (#31519)
  tools/sim/lib/simulated_car.py
  tools/sim/lib/simulated_sensors.py
Due: mypy, pylint

debug: improve count_events.py output
  selfdrive/debug/count_events.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
