Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

navd: add repr method to Coordinate (#28959)
  selfdrive/navd/helpers.py
Due: mypy, pylint

ui/MapSettings: store destinations to load on widget init (#28950)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

ui/map: fix wrong remaining time (#28960)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

dmonitoring: use sizeof(float) instead of hardcorded size (#28963)
  selfdrive/modeld/models/dmonitoring.cc
Due: cppcheck

Qcom gps: retry logs setup (#28952)
  system/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

loggerd/encoder: refactor constructors to take EncoderInfo as parameter (#28921)
  system/loggerd/encoder/encoder.cc
  system/loggerd/encoder/encoder.h
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.h
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/encoder/v4l_encoder.h
  system/loggerd/encoderd.cc
  system/loggerd/loggerd.cc
  system/loggerd/loggerd.h
Due: cppcheck

encoderd: get avaiable streams from vipc server (#28935)
  system/loggerd/encoderd.cc
Due: cppcheck

boardd: read spi resp len with ack (#28966)
  selfdrive/boardd/panda_comms.h
  selfdrive/boardd/spi.cc
Due: cppcheck

pandad: enable tres release -> bootstub test (#28930)
  selfdrive/boardd/tests/test_pandad.py
Due: mypy, pylint

CI: update codecov action (#28967)
  .github/workflows/selfdrive_tests.yaml
Due: none

Laikad cpu usage: enable test onroad (#28926)
  selfdrive/test/test_onroad.py
Due: mypy, pylint

boardd: misc cleanup (#28969)
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
Due: cppcheck

encoder: remove public function `encoder_init` (#28971)
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/ffmpeg_encoder.h
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/encoder/v4l_encoder.h
Due: cppcheck
