Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Docker: keep poetry installed (#30108)
  Dockerfile.openpilot_base
Due: none

devcontainer: expose zmq ports for bridging (#30072)
  .devcontainer/devcontainer.json
Due: none

Simulator: blinkers and lane changes (#30107)
  tools/sim/bridge/common.py
  tools/sim/lib/common.py
  tools/sim/lib/keyboard_ctrl.py
  tools/sim/lib/simulated_car.py
Due: mypy, pylint

devcontainer: use VirtualGL on mac hosts (#30090)
  .devcontainer/Dockerfile
  .devcontainer/container_post_create.sh
  .devcontainer/container_post_start.sh
  .devcontainer/host_setup.sh
Due: none

improved script for fetching images from routes (#30089)
  tools/scripts/fetch_image_from_route.py
Due: mypy, pylint

Revert "ui: brighten cameraview (#29744)"
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

HKG: Enable radar tracks for 2021 K5 Hybrid (#30113)
  selfdrive/debug/hyundai_enable_radar_points.py
Due: mypy, pylint

ui: better Arabic translations (#30004)
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_ar.ts
Due: mypy, pylint

run unit tests in a random order (#29799)
  pyproject.toml
  selfdrive/controls/tests/test_startup.py
Due: mypy, pylint

delete some old files
  .dir-locals.el
  scripts/dump_pll.c
  system/hardware/tici/power_draw_test.py
Due: mypy, pylint

Standardize line endings in repo (#30112)
  .gitattributes
  third_party/acados/include/qpOASES_e/Constants.h
  third_party/acados/include/qpOASES_e/ConstraintProduct.h
  third_party/acados/include/qpOASES_e/Indexlist.h
  third_party/acados/include/qpOASES_e/Matrices.h
  third_party/acados/include/qpOASES_e/Options.h
  third_party/acados/include/qpOASES_e/QProblem.h
  third_party/acados/include/qpOASES_e/Types.h
  third_party/acados/include/qpOASES_e/UnitTesting.h
  third_party/catch2/include/catch2/catch_reporter_automake.hpp
  third_party/catch2/include/catch2/catch_reporter_sonarqube.hpp
  third_party/catch2/include/catch2/catch_reporter_tap.hpp
  third_party/catch2/include/catch2/catch_reporter_teamcity.hpp
  third_party/snpe/include/DlSystem/IOBufferDataTypeMap.hpp
Due: none

Use StrEnum for car classes (#30114)
  selfdrive/car/body/values.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
