Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

LatControl: remove duplicate logic for saturation (#26725)
  selfdrive/controls/controlsd.py
Due: mypy, pylint

CameraView: remove double semicolon (#26728)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

Cabana: fix build error on mac (#26730)
  tools/cabana/dbcmanager.cc
Due: none

Cabana: add `--ecam` flag to dispaly the wide road camera (#26727)
  tools/cabana/cabana
  tools/cabana/cabana.cc
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/videowidget.cc
Due: none

Cabana: fix the binaryview is not updated correctly (#26731)
  tools/cabana/binaryview.cc
Due: none

Car controls: common angle limiting function (#26732)
  selfdrive/car/__init__.py
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/values.py
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/values.py
Due: mypy, pylint

fix dependencies for macOS (#26684)
  pyproject.toml
  update_requirements.sh
Due: none

Added old firmware version to support Lexus NX 2020 (#26679)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

nav: add mapRenderState (#26734)
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
Due: cppcheck

VW MQB: Restore lead car indicator in instrument cluster (#26651)
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/pqcan.py
Due: mypy, pylint

Toyota: don't log standstill for NO_STOP_TIMER_CAR (#26733)
  selfdrive/car/toyota/carstate.py
Due: mypy, pylint

Cabana: fix header word wrap issue (#26737)
  tools/cabana/historylog.cc
Due: none

UI: add flag for showing map render (#26740)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

nav: add mapRenderState.frameId
  selfdrive/navd/map_renderer.cc
Due: cppcheck
