Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Events: use sorted container (#32395)
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

CarInterface: move stateless, common car events to car interface (#32394)
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

ui: fix brightness when there's no camera (#32413)
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

card: create pedal pressed event (#32393)
  selfdrive/car/card.py
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Revert "card: create pedal pressed event" (#32414)
  selfdrive/car/card.py
  selfdrive/car/interfaces.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

rerun.io proof of concept (#32416)
  tools/rerun/run.py
Due: mypy, pylint

let's be more decisive
  .github/workflows/stale.yaml
Due: none

logreader: skip internal source if connection refused (#32418)
  tools/lib/filereader.py
Due: mypy, pylint

Hyundai Kona: add min speed (#32420)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

Car docs: gate auto resume star on enable down to stop (#32421)
  selfdrive/car/docs_definitions.py
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

card: create pedal pressed event (#32417)
  selfdrive/car/card.py
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_models.py
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Fix test_time_to_onroad (#32423)
  selfdrive/test/test_time_to_onroad.py
Due: mypy, pylint

python deps: add sortedcontainers (#32428)
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
