Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Ford: fix counter in LateralMotionControl2 message (#31806)
  selfdrive/car/ford/carcontroller.py
Due: mypy, pylint

GM: Parse distance button from steering wheel (#31762)
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/interface.py
Due: mypy, pylint

fix status -> state typo
  selfdrive/ui/ui.py
Due: mypy, pylint

cgpsd: use a real source
  system/qcomgpsd/cgpsd.py
Due: mypy, pylint

ButtonParamControl: use buttonClicked (#31817)
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

Add autoconnect support for hidden WiFi networks (#31789)
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
Due: cppcheck

thermald: add deviceType to logs (#31819)
  selfdrive/thermald/thermald.py
Due: mypy, pylint

modeld: prep for camera transform refactor (#31820)
  selfdrive/modeld/modeld.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

disable that one for now
  release/build_release.sh
Due: none

refactor camera transformations (#31818)
  common/transformations/camera.py
  common/transformations/model.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/tests/test_modeld.py
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/vision_meta.py
  selfdrive/ui/tests/test_ui/run.py
  system/loggerd/tests/test_loggerd.py
  tools/replay/lib/ui_helpers.py
  tools/replay/ui.py
Due: mypy, pylint

simulator: Correctly handle arrival at destination (#31807)
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
Due: mypy, pylint

test_updated: ensure symlinks are copied properly (#31825)
  selfdrive/updated/tests/test_base.py
Due: mypy, pylint

[bot] Update Python packages and pre-commit hooks (#31824)
  .pre-commit-config.yaml
Due: none
