Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

[bot] Update Python packages and pre-commit hooks (#31998)
  .pre-commit-config.yaml
Due: none

stale bot: ignore all car stuff for now
  .github/workflows/stale.yaml
Due: none

third_party: build scripts for libyuv and maplibre-native-qt (#31988)
  third_party/libyuv/.gitignore
  third_party/libyuv/build.sh
  third_party/maplibre-native-qt/build.sh
  tools/install_ubuntu_dependencies.sh
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32001)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from new users (#32002)
  selfdrive/car/honda/fingerprints.py
Due: mypy, pylint

Add missing fwdRadar for 2023 Kia Sportage Hybrid SX Prestige #31993 (#32000)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

lowercase stale (#32004)
  .github/workflows/stale.yaml
Due: none

VW: simplify cruiseState (#32003)
  selfdrive/car/volkswagen/carstate.py
Due: mypy, pylint

Hyundai: remove bad abs responses (#32007)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

Hyundai: remove outdated abs FW (#32008)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy, pylint

util: safer `ends_with` (#31943)
  common/util.cc
  common/util.h
Due: cppcheck

More fingerprint migration fixes (#32018)
  selfdrive/debug/cycle_alerts.py
  tools/sim/launch_openpilot.sh
Due: mypy, pylint

navd: generate new JWT for each request (#32017)
  selfdrive/navd/navd.py
Due: mypy, pylint
