Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

OX03C10: improve tone mapping (#27754)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/real_debayer.cl
Due: cppcheck

tizi: only affine panda USB IRQ when it's used (#27816)
  system/hardware/tici/hardware.py
Due: mypy, pylint

boardd: log SPI checksum errors (#27818)
  selfdrive/boardd/boardd.cc
Due: cppcheck

tici: move tests to tests/
  Jenkinsfile
  system/hardware/tici/tests/test_agnos_updater.py
  system/hardware/tici/tests/test_power_draw.py
Due: mypy, pylint

update manifest path in test
  system/hardware/tici/tests/test_agnos_updater.py
Due: mypy, pylint

plotjuggler: camera timings layout
  tools/plotjuggler/layouts/camera-timings.xml
Due: none

boardd: bump spi to 50MHz
  selfdrive/boardd/spi.cc
Due: cppcheck

cabana: improve chart drag and drop (#27820)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

update scons qt tool (#27825)
  SConstruct
Due: none

add scons-contrib package (#27826)
  pyproject.toml
Due: none

set_time: use python library (#27827)
  selfdrive/boardd/set_time.py
Due: mypy, pylint

cabana: sort events based on priority (#27809)
  tools/cabana/videowidget.cc
Due: none

Honda: Added fingerprints for a 2022 Acura RDX (#27812)
  selfdrive/car/honda/values.py
Due: mypy, pylint

tizi: retry amp comms (#27735)
  Jenkinsfile
  system/hardware/tici/amplifier.py
  system/hardware/tici/tests/test_amplifier.py
Due: mypy, pylint
