Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

add comment about sendcan
  selfdrive/car/car_helpers.py
Due: mypy, pylint

vin: reduce retries (#31175)
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/vin.py
Due: mypy, pylint

Fingerprints: add missing FW versions from users for Toyota, Honda, Chrysler [bot] (#31173)
  selfdrive/car/honda/fingerprints.py
Due: mypy, pylint

Honda: add logging request for radarless Civic 2022+ camera (#31176)
  selfdrive/car/honda/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

UI/sidebar_layout: Removed redundant piece of margin code (#31106)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

commaCarSegments cleanup (#31182)
  tools/lib/comma_car_segments.py
Due: mypy, pylint

Fingerprint vw taos eduardo (#31113)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

unpin sentry-sdk (#31183)
  pyproject.toml
  selfdrive/sentry.py
Due: mypy, pylint

mark as flaky for now
  system/loggerd/tests/test_loggerd.py
Due: mypy, pylint

pin pyopencl to fix aarch64 build (#31184)
  pyproject.toml
Due: none

tools: add LOG_ID regex pattern (#31186)
  tools/lib/helpers.py
Due: mypy, pylint

bootlog: remove timestamp from filename (#31187)
  common/params.cc
  system/loggerd/bootlog.cc
  system/loggerd/logger.cc
  system/loggerd/logger.h
  system/loggerd/tests/test_loggerd.py
  tools/lib/bootlog.py
  tools/lib/helpers.py
Due: mypy, pylint, cppcheck

CommaCarSegments: BIG Database! (#31169)
  tools/car_porting/examples/ford_vin_fingerprint.ipynb
  tools/lib/helpers.py
  tools/lib/logreader.py
Due: mypy, pylint

Subaru: move non-obd requests out of logging (#31174)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
