Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

revert accidental enable old-commit-hash: 69e7f386a759c54d866c64c37ef85f6c7c61cd08 old-commit-hash: 5daeae9206b68d7cf9273fd4e70ae4cebadd5ed6
  selfdrive/test/test_onroad.py
Due: mypy, pylint

map settings: accept touch events (#28865)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

ui: remove unused MapPanel function (#28874)
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
Due: cppcheck

Test rawgpsd: Make sure we get fix (#28875)
  system/sensord/rawgps/test_rawgps.py
Due: mypy, pylint

ui: don't hide sidebar twice (#28868)
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/maps/map_panel.cc
  selfdrive/ui/qt/maps/map_panel.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Laikad: fix qcom report collection (#28879)
  selfdrive/locationd/laikad.py
  system/sensord/rawgps/test_rawgps.py
Due: mypy, pylint

ui/map: don't clear eta when map is hidden (#28878)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

ui: capnp best practices (#28877)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
Due: cppcheck

ui/map: singleton navigation requests (#28862)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

UI: preserve recent destinations sort order (#28881)
  selfdrive/ui/qt/maps/map_settings.cc
Due: cppcheck

Qcom laikad: Update expected msgs (#28887)
  selfdrive/locationd/test/test_laikad.py
Due: mypy, pylint

Multilang: kor translation update (#28885)
  selfdrive/ui/translations/main_ko.ts
Due: none

Qcom rawgps: Timestamp svpolys (#28738)
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/update_ci_routes.py
  system/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

nav: hide settings on map request visible (#28884)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/maps/map_panel.cc
Due: cppcheck
