Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

tool to create casync manifest (#32131)
  Jenkinsfile
  release/create_casync_agnos_release.py
  release/create_release_manifest.py
  system/hardware/tici/agnos.py
Due: mypy, pylint

jenkins: set pythonpath for casync build (#32139)
  release/create_casync_build.sh
Due: none

make manifest script executable (#32140)
  release/create_release_manifest.py
Due: mypy, pylint

disable navigate on openpilot (#32106)
  .gitignore
  release/files_common
  selfdrive/manager/process_config.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/README.md
  selfdrive/modeld/models/navmodel.onnx
  selfdrive/modeld/models/navmodel_q.dlc
  selfdrive/modeld/navmodeld.py
  selfdrive/navd/README.md
  selfdrive/navd/SConscript
  selfdrive/navd/tests/test_map_renderer.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/test_onroad.py
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.h
  system/hardware/tici/tests/test_power_draw.py
Due: mypy, pylint, cppcheck

loggerd/logger.cc: fix typo (#32134)
  system/loggerd/logger.cc
Due: cppcheck

loggerd/logger.cc: use std::stoul instead of std::stol (#32133)
  system/loggerd/logger.cc
Due: cppcheck

WD40 model (#32141)
  selfdrive/modeld/constants.py
  selfdrive/modeld/modeld.py
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy, pylint

jenkins: publish casync releases from device (#32142)
  Jenkinsfile
  release/upload_casync_release.py
  release/upload_casync_release.sh
  tools/lib/azure_container.py
Due: mypy, pylint

fix casync uploading (#32144)
  Jenkinsfile
Due: none

modeld: less spammy with no cams
  selfdrive/modeld/modeld.py
Due: mypy, pylint

jenkins: use token for pushing to openpilot-releases (#32146)
  Jenkinsfile
  release/upload_casync_release.py
Due: mypy, pylint

Format volkswagen/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

cabana: gray out inactive messages (#32121)
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/utils/util.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

Volkswagen: combine platforms with common chassis codes (#32147)
  selfdrive/car/fingerprints.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.toml
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint
