Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

IsoTpParallelQuery: extend timeout for every frame type (#29654)
  selfdrive/car/isotp_parallel_query.py
Due: mypy, pylint

ui/driverview: hide on interactive timeout (#29464)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

AGNOS setup: multi-lang support (#25680)
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/setup.h
  selfdrive/ui/qt/widgets/scrollview.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

cabana: use a monotonic buffer to allocate CanEvent (#29652)
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

ui/MapSettings: sort destinations by recent activity (#29079)
  common/params.cc
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

ui/NavManager: parse location timestamp from API (#29665)
  selfdrive/ui/qt/maps/map_settings.cc
Due: cppcheck

CI: fix proc replay download cache permissions (#29636)
  .github/workflows/selfdrive_tests.yaml
Due: none

cabana/MessageListModel: replace `match |=` with `match = match ||` (#29667)
  tools/cabana/messageswidget.cc
Due: none

ui/driverview: use common SubMaster (#29660)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
Due: cppcheck

Docs: Hyundai R Harness (#29662)
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

Docs: Toyota B harness connector (#29669)
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

ui/network: move to selfdrive/ui/qt/network/ (#29656)
  release/files_common
  selfdrive/ui/SConscript
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/qt/network/networkmanager.h
  selfdrive/ui/qt/network/wifi_manager.cc
  selfdrive/ui/qt/network/wifi_manager.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/setup/setup.cc
  selfdrive/ui/qt/setup/updater.cc
Due: cppcheck

CI: fix sim/docs scons cache invalidation (#29639)
  docs/docker/Dockerfile
  tools/sim/Dockerfile.sim
Due: none

ui: rename QDialogBase to DialogBase (#29675)
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/input.h
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
