Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

thermald is hardwared (#32637)
  common/realtime.py
  pyproject.toml
  selfdrive/test/test_onroad.py
  system/camerad/snapshot/snapshot.py
  system/hardware/fan_controller.py
  system/hardware/hardwared.py
  system/hardware/power_monitoring.py
  system/hardware/tests/__init__.py
  system/hardware/tests/test_fan_controller.py
  system/hardware/tests/test_power_monitoring.py
  system/hardware/tici/hardware.py
  system/manager/process_config.py
  system/thermald/tests/__init__.py
Due: mypy, pylint

pandad: add more context to spi logs (#32639)
  selfdrive/pandad/panda_comms.h
  selfdrive/pandad/spi.cc
Due: cppcheck

fix linter
  selfdrive/pandad/spi.cc
Due: cppcheck

Restore lateral limits report (#32640)
  selfdrive/car/tests/test_lateral_limits.py
Due: mypy, pylint

car/interfaces.py: optimize `parse_gear_shifter()` with predefined dictionary (#32592)
  selfdrive/car/interfaces.py
Due: mypy, pylint

Fingerprint for 2017 Subaru Forester (#32584)
  selfdrive/car/subaru/fingerprints.py
Due: mypy, pylint

improve get_torque_params (#32586)
  selfdrive/car/interfaces.py
  selfdrive/car/tests/test_lateral_limits.py
Due: mypy, pylint

Genesis G70 2020: use common specs (#32641)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

fuzzy_generation.py: improve performance (#32591)
  selfdrive/test/fuzzy_generation.py
Due: mypy, pylint

events.py: rename event counters (#32596)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

[Lag] Increase Optima Lag (#32583)
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

CI/tools_test: remove redundant `git lfs pull` (#32642)
  .github/workflows/tools_tests.yaml
Due: none

Msgq cleanups (#32643)
  cereal/.pre-commit-config.yaml
  cereal/Dockerfile
  cereal/LICENSE
  cereal/codecov.yml
  cereal/messaging/demo.cc
  cereal/messaging/demo.py
  cereal/messaging/msgq.md
  cereal/messaging/msgq_tests.cc
  cereal/messaging/test_runner.cc
Due: none
