Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui brightness: fix exposure scale factor (#26104)
  selfdrive/ui/ui.cc
Due: cppcheck

Cabana: drag to adjust signal size (#26172)
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

ci: don't trigger on pull request sync event (#25900)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

Cabana: add status bar to main window (#26159)
  tools/cabana/detailwidget.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
Due: none

Use same minimum speed for lateral planning and controls (#26177)
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

desire: give the pulse at t=0 (#26180)
  selfdrive/modeld/models/driving.cc
Due: cppcheck

Mazda: add missing CX5 2021 FW (#25477)
  selfdrive/car/mazda/values.py
Due: mypy, pylint

Hyundai: common CAN-FD brake pressed signal (#26170)
  selfdrive/car/hyundai/carstate.py
  selfdrive/debug/can_print_changes.py
Due: mypy, pylint

model replay speedup (#26181)
  selfdrive/test/process_replay/model_replay.py
Due: mypy, pylint

d8501d20-bb59-4193-aa82-82b2737dedd6/449 f78009d1-2184-4136-9fbc-1c5de55d460d/700
  selfdrive/modeld/models/supercombo.onnx
Due: none

Revert "d8501d20-bb59-4193-aa82-82b2737dedd6/449 f78009d1-2184-4136-9fbc-1c5de55d460d/700"
  selfdrive/modeld/models/supercombo.onnx
Due: none

GM: inactive gas/regen safety (#26184)
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
Due: mypy, pylint

Wide transform model (#26165)
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
