Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

test_models: check panda cruise state (#29423)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

car_helpers: common CAN fingerprint function (#29417)
  selfdrive/car/car_helpers.py
Due: mypy, pylint

process_replay: prevent creating orphaned processes if replay fails during setup (#29426)
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

replay: fix seekTo issue (#29422)
  tools/replay/replay.cc
  tools/replay/tests/test_replay.cc
Due: none

Subaru: Global gen1 experimental longitudinal (#28872)
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/car/subaru/values.py
Due: mypy, pylint

Disable pyqt5 on aach64 (#29430)
  pyproject.toml
Due: none

CI: use setup script for docs and simulator (#29434)
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Due: none

fingerprints: prevent global from changing (#29438)
  selfdrive/car/fingerprints.py
Due: mypy, pylint

Multilang: more translation sanity checks (#29439)
  selfdrive/ui/tests/test_translations.py
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, pylint

Multilang: check format arguments are consistent (#29441)
  selfdrive/ui/tests/test_translations.py
Due: mypy, pylint

Multilang: add Turkish language (#25765)
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_tr.ts
Due: none

ui: longer screen timeout for driver view (#27457)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck
