Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

camera: add all_cams iterator, allow None camera, add camera size property (#31835)
  common/transformations/camera.py
Due: mypy, pylint

move pigeond to system/ubloxd/ (#31848)
  Jenkinsfile
  release/files_common
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
  system/ubloxd/pigeond.py
  system/ubloxd/tests/test_pigeond.py
Due: mypy, pylint

logreader: fix auto source + interactive modes (#31847)
  tools/lib/logreader.py
Due: mypy, pylint

unicore gps (#31852)
  selfdrive/manager/process_config.py
  system/qcomgpsd/cgpsd.py
  system/ugpsd.py
Due: mypy, pylint

Honda Bosch Radarless: check nonAdaptive at all times (#31853)
  selfdrive/car/honda/carstate.py
Due: mypy, pylint

Move personality to controlsState (#31855)
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/tests/test_cruise_speed.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

longitudinal personality: change via steering wheel distance button (#31792)
  selfdrive/controls/controlsd.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/offroad/settings.h
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.h
Due: mypy, pylint, cppcheck

Honda Nidec: show distance bars (#31854)
  selfdrive/car/honda/hondacan.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

add third party to exclude (#31858)
  .vscode/settings.json
Due: none

devcontainer: add gh and azure cli (#31859)
  .devcontainer/devcontainer.json
Due: none

Revert "updated: prep for new updater (#31695)" (#31860)
  selfdrive/updated/common.py
  selfdrive/updated/git.py
  selfdrive/updated/tests/test_base.py
  selfdrive/updated/updated.py
Due: mypy, pylint

Multilang: kor translation update (#31864)
  selfdrive/ui/translations/main_ko.ts
Due: none

Multilang: update pt-BR translation (#31861)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

Added fingerprints for my 2019 Golf R Mk7.5 (#31850)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
