Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cabana: fix new chart button placement on Windows (#27895)
  tools/cabana/signalview.cc
Due: none

Lexus: support ES 2018 (#27683)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Test lateral limits: fix jerk calculation (#27654)
  selfdrive/car/tests/test_lateral_limits.py
Due: mypy, pylint

2023 Leaf is supported (#27899)
  docs/CARS.md
  selfdrive/car/nissan/values.py
Due: mypy, pylint

tizi: enable fan for shutdown (#27890)
  system/hardware/tici/hardware.py
Due: mypy, pylint

cabana: support display hex bytes in multiple lines. (#27901)
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

VW: Tiguan eHybrid FW (#27879)
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Ford: add Escape PHEV 2021 FW (#27902)
  selfdrive/car/ford/values.py
Due: mypy, pylint

cabana: fix tooltip will not show if chart is partial visible. (#27897)
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/chart/tiplabel.cc
  tools/cabana/chart/tiplabel.h
Due: none

cabana: support logging live stream (#27884)
  tools/cabana/cabana.cc
  tools/cabana/route.cc
  tools/cabana/route.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
Due: none

VW MQB: Add FW for 2015 VOLKSWAGEN GOLF 7TH GEN (#27518)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Hyundai: 2023 EV6 is supported (#27907)
  docs/CARS.md
Due: none

pre-commit: add check-toml + update hooks (#27906)
  .pre-commit-config.yaml
  common/i2c.cc
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
