Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cgpsd (#31781)
  system/qcomgpsd/cgpsd.py
  system/qcomgpsd/qcomgpsd.py
Due: mypy, pylint

better comment old-commit-hash: 6de71bcddb83510cb48125f4e0440d4328c393a4 old-commit-hash: e6d6293698311234c5d62dac1fc2606678a04952
  .vscode/settings.json
Due: none

better comment old-commit-hash: 6de71bcddb83510cb48125f4e0440d4328c393a4
  .vscode/settings.json
Due: none

cgpsd: check checksums and log some accuracies (#31784)
  system/qcomgpsd/cgpsd.py
Due: mypy, pylint

Subaru: make OBD query logging (#31785)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

tools: update replay route parsing for timeless format
  tools/replay/route.cc
Due: none

fix old route sorting (#31787)
  system/loggerd/uploader.py
Due: mypy, pylint

longitudinal planner: start at personality param (#31788)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

HKG CAN FD: add instrument cluster ECU (#31790)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

Revert "common PlatformFlags base class + test for < 32 bits" (#31793)
  selfdrive/car/__init__.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

LogReader: fix sort by time and union types (#31565)
  tools/lib/logreader.py
  tools/lib/tests/test_logreader.py
Due: mypy, pylint

test_updated: more consistent test (#31786)
  selfdrive/updated/tests/test_updated.py
Due: mypy, pylint

updated: prep for new updater (#31695)
  selfdrive/updated/common.py
  selfdrive/updated/git.py
  selfdrive/updated/tests/test_base.py
  selfdrive/updated/tests/test_git.py
  selfdrive/updated/updated.py
Due: mypy, pylint

add hasFix field to gpsLocation (#31778)
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/test/test_locationd.py
  selfdrive/locationd/test/test_locationd_scenarios.py
  selfdrive/test/process_replay/migration.py
  selfdrive/test/process_replay/ref_commit
  system/qcomgpsd/qcomgpsd.py
  system/ubloxd/ublox_msg.cc
Due: mypy, pylint, cppcheck

add helper for serving a directory (#31802)
  selfdrive/test/helpers.py
Due: mypy, pylint
