Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui: refactor setPrimeType (#28143)
  selfdrive/ui/qt/offroad/wifiManager.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

calibrationd: add offroad alert when remount detected (#28073)
  common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/alerts_offroad.json
Due: mypy, pylint, cppcheck

controlsd: check for self lagging in radar alert
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Add fingerprint for 2022 Honda Passport (#28175)
  docs/CARS.md
  selfdrive/car/honda/values.py
Due: mypy, pylint

FCA: Ram 1500 Rebel 2022 FW versions (#28155)
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

docs cars template: remove newline on last line only
  selfdrive/car/CARS_template.md
Due: none

add harness kit content to the doc (#28139)
  selfdrive/car/CARS_template.md
  selfdrive/car/chrysler/values.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/test_docs.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Subaru: rename legacy to preglobal (#28204)
  selfdrive/car/subaru/interface.py
Due: mypy, pylint

set ssh enabled in ssh helper script
  tools/scripts/setup_ssh_keys.py
Due: mypy, pylint

Nissan: set LKA active with latActive (#28055)
  selfdrive/car/nissan/carcontroller.py
Due: mypy, pylint

tici: allow fan to run to 100% (#28203)
  selfdrive/thermald/fan_controller.py
  selfdrive/thermald/tests/test_fan_controller.py
Due: mypy, pylint

manager: initialize onroad params before starting processes (#28198)
  selfdrive/manager/helpers.py
  selfdrive/manager/manager.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
