Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

loggerd: c++ LoggerState (#25869)
  system/loggerd/logger.cc
  system/loggerd/logger.h
  system/loggerd/loggerd.cc
  system/loggerd/tests/test_logger.cc
Due: cppcheck

replay: support for setting a custom playback speed (#30462)
  tools/replay/consoleui.cc
  tools/replay/consoleui.h
  tools/replay/main.cc
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

ui/controls.cc: fix QLabel leak (#30382)
  selfdrive/ui/qt/widgets/controls.cc
Due: cppcheck

rm old loggerd debug scripts
  system/loggerd/tools/mark_all_uploaded.py
  system/loggerd/tools/mark_unuploaded.py
Due: mypy, pylint

one more
  system/loggerd/tests/fill.py
Due: mypy, pylint

modeld: remove modeldata.h (#30423)
  common/modeldata.h
  release/files_common
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
  system/camerad/cameras/camera_common.cc
Due: cppcheck

adding --local-partial-types mypy opt (#30491)
  .pre-commit-config.yaml
  scripts/code_stats.py
  tools/bodyteleop/web.py
  tools/sim/lib/manual_ctrl.py
  tools/sim/tests/test_carla_bridge.py
Due: mypy, pylint

[cabana] fix clang17 warning (#30490)
  tools/cabana/tools/findsignal.cc
Due: none

rename rawgpsd to qcomgpsd (#30493)
  Jenkinsfile
  release/files_tici
  selfdrive/manager/process_config.py
  selfdrive/test/test_onroad.py
  system/qcomgpsd/modemdiag.py
  system/qcomgpsd/nmeaport.py
  system/qcomgpsd/qcomgpsd.py
  system/qcomgpsd/structs.py
  system/qcomgpsd/tests/test_qcomgpsd.py
Due: mypy, pylint

CI: manage stale PRs (#29367)
  .github/workflows/stale.yaml
Due: none

SDProfiler: update readme (#30479)
  selfdrive/debug/profiling/snapdragon/.gitignore
  selfdrive/debug/profiling/snapdragon/README
  selfdrive/debug/profiling/snapdragon/README.md
  selfdrive/debug/profiling/snapdragon/setup-profiler.sh
Due: none

update profiler docs again (#30503)
  selfdrive/debug/profiling/snapdragon/README.md
Due: none

bump panda (#30501)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

Qcomgpsd: Dont use system timezone (#30508)
  system/qcomgpsd/qcomgpsd.py
Due: mypy, pylint
