Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Use StrEnum for car classes (#30114)
  selfdrive/car/body/values.py
  selfdrive/car/car_helpers.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/values.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/values.py
  selfdrive/car/mazda/values.py
  selfdrive/car/mock/values.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/values.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Revert "run unit tests in a random order (#29799)" (#30116)
  pyproject.toml
  selfdrive/controls/tests/test_startup.py
Due: mypy, pylint

compressed_vipc: fix issues with VisionIpcServer in ZMQ mode (#30115)
  tools/camerastream/compressed_vipc.py
Due: mypy, pylint

Tools: a basic auto fingerprinting tool (#30117)
  selfdrive/debug/auto_fingerprint.py
Due: mypy, pylint

Update metadrive (#30128)
  pyproject.toml
Due: none

hyundai: fix ioniq5/6 sorting (#30122)
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

back to 0.9.5
  RELEASES.md
  common/version.h
Due: cppcheck

Simulator: metadrive is the default (#30133)
  tools/sim/README.md
  tools/sim/run_bridge.py
Due: mypy, pylint

remove panda flash logs (#30138)
  common/params.cc
  selfdrive/boardd/pandad.py
  selfdrive/boardd/tests/test_pandad.py
Due: mypy, pylint, cppcheck

remove rtshield
  release/files_common
  selfdrive/rtshield.py
Due: mypy, pylint

remove carla dependency (#30139)
  pyproject.toml
  tools/sim/README.md
  tools/sim/bridge/carla/carla_bridge.py
  tools/sim/bridge/carla/carla_world.py
Due: mypy, pylint

Metadrive: fix reset (#30142)
  tools/sim/bridge/metadrive/metadrive_world.py
Due: mypy, pylint

finish hardware move to system/ (#30140)
  release/files_common
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
  selfdrive/hardware
  system/hardware/hw.py
  system/loggerd/config.py
  system/loggerd/tests/test_encoder.py
Due: mypy, pylint

remove some python packages (#30135)
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
