Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Hyundai CAN-FD Longitudinal: Enable for ICE camera-SCC cars (non-HDA2) (#30034)
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
Due: mypy, pylint

boardd: cleanup includes (#30674)
  selfdrive/boardd/boardd.cc
Due: cppcheck

helper script for fixing up repo size (#30028)
  scripts/build_small.sh
Due: none

remove Qt wrapper scripts (#30454)
  .gitignore
  release/files_common
  selfdrive/test/test_onroad.py
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/qt/util.cc
  selfdrive/ui/ui
Due: mypy, pylint, cppcheck

three way merge old-commit-hash: 702c4392a448eff18eb64537fdf46e0741558b8b old-commit-hash: 90a13d0a19e29ad531ac56bc96620deb7f76d294
  scripts/apply-pr.sh
Due: none

three way merge old-commit-hash: 702c4392a448eff18eb64537fdf46e0741558b8b
  scripts/apply-pr.sh
Due: none

ui/driverview: inherit from CameraWidget (#29769)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

cabana: fix typo (#30678)
  tools/cabana/messageswidget.cc
Due: none

Revert "Process Replay: move to pytest (#30260)" (#30687)
  .github/workflows/selfdrive_tests.yaml
  common/prefix.py
  selfdrive/test/process_replay/conftest.py
  selfdrive/test/process_replay/helpers.py
  selfdrive/test/process_replay/regen_all.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

run_process_on_route: qlog and fingerprint options (#30688)
  selfdrive/debug/run_process_on_route.py
Due: mypy, pylint

Add 2021 Mazda CX-5 engine fingerprint (#30616)
  selfdrive/car/mazda/values.py
Due: mypy, pylint

Revert "remove extra sleep", weston is fixed but a couple other things relied on this
  launch_chffrplus.sh
Due: none

soundd/micd: increase stream buffer size (#30685)
  selfdrive/test/test_onroad.py
  selfdrive/ui/soundd.py
  system/micd.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
