Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cabana: drag&drop to change chart order (#27832)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

fix missing include <cstdarg> (#27831)
  common/statlog.cc
  common/swaglog.cc
Due: cppcheck

Honda: add 2022 civic video link (#27821)
  docs/CARS.md
  selfdrive/car/honda/values.py
Due: mypy, pylint

Car docs: references US market (#27836)
  docs/CARS.md
  selfdrive/car/CARS_template.md
Due: none

Hyundai: rename gears feature list (#27835)
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy, pylint

Hyundai: add CAN FD feature test (#27834)
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy, pylint

cabana: support multiple tabs in ChartsView (#27833)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

HKG: Car Port for Kia Niro EV 2023 (HDA1, European version) (#27788)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

cabana: support dragging chart between tabs (#27838)
  tools/cabana/chartswidget.cc
Due: none

VW MQB: Update model years for Volkswagen Polo (#27840)
  docs/CARS.md
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

cabana: dispaly alert info in thumbnail&video player (#27837)
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

cabana: improve drag&drop (#27842)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
