Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Update Python packages and pre-commit hooks (#30463)
  .pre-commit-config.yaml
Due: none

remove mui
  selfdrive/ui/.gitignore
  selfdrive/ui/SConscript
  selfdrive/ui/mui.cc
Due: cppcheck

thermald: recover from modemmanager restart (#30464)
  system/hardware/tici/hardware.py
Due: mypy, pylint

Pytest: load by group by default (#30466)
  conftest.py
  pyproject.toml
  selfdrive/car/tests/test_models.py
  selfdrive/locationd/test/test_locationd_scenarios.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

Sort car ports old-commit-hash: 102687e1acc658e2a25df58d67b635551a3bd503 old-commit-hash: ac48d394e4306ce09b56564fde94257535528eff
  RELEASES.md
Due: none

Sort car ports old-commit-hash: 102687e1acc658e2a25df58d67b635551a3bd503
  RELEASES.md
Due: none

cabana: fix double comparisons (#30468)
  tools/cabana/chart/chart.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.h
Due: none

Remove laika submodule (#30453)
  .gitmodules
  .pre-commit-config.yaml
  Dockerfile.openpilot
  SConstruct
  docs/Makefile
  docs/overview.rst
  laika
  pyproject.toml
  release/files_common
  selfdrive/locationd/models/gnss_helpers.py
Due: mypy, pylint

Pytest: run tests in random order (#30134)
  pyproject.toml
  selfdrive/athena/tests/test_athenad.py
  selfdrive/controls/tests/test_state_machine.py
Due: mypy, pylint

Revert "Pytest: run tests in random order" (#30469)
  pyproject.toml
  selfdrive/athena/tests/test_athenad.py
  selfdrive/controls/tests/test_state_machine.py
Due: mypy, pylint

ui: add purple prime def
  selfdrive/ui/ui.h
Due: cppcheck

CI: separate image for docker cache (#30413)
  selfdrive/test/docker_build.sh
  selfdrive/test/docker_common.sh
Due: none

CI: enable buildx for registry cache (#30473)
  .github/workflows/setup/action.yaml
Due: none

CI: disable registry caching (#30474)
  .github/workflows/setup/action.yaml
  selfdrive/test/docker_build.sh
  selfdrive/test/docker_common.sh
Due: none

test_models: remove ignored address check list (#30475)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint
