Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui: remove map & navigation related code (#32836)
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.h
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_es.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Bring back macOS CI (#32819)
  .github/workflows/selfdrive_tests.yaml
Due: none

cereal: remove messaging/.gitignore (#32839)
  .gitignore
  cereal/messaging/.gitignore
Due: none

ui/installer: hardcode SSH Keys in installer.cc (#32838)
  selfdrive/ui/SConscript
  selfdrive/ui/installer/installer.cc
Due: none

cereal: use nanos_since_boot() from common/timing.h (#32840)
  cereal/messaging/messaging.h
  cereal/messaging/socketmaster.cc
Due: none

Cleanup "longitudinalPlan" fields (#32845)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

Hyundai: Add FW Versions for EU Ioniq 5 2023 (#32833)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

GM torque control: robust sig function (#32847)
  selfdrive/car/gm/interface.py
Due: mypy, pylint

LogReader: print number of missing rlogs (#32830)
  tools/lib/logreader.py
Due: mypy, pylint

radard: readable KalmanParams initialization (#32848)
  selfdrive/controls/radard.py
Due: mypy, pylint

ruff: check shadowed variables (#32851)
  .pre-commit-config.yaml
  pyproject.toml
  selfdrive/debug/can_printer.py
Due: mypy, pylint

Increase test_car_interfaces examples (#32852)
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy, pylint

switch to uv (#32853)
  .devcontainer/Dockerfile
  .github/workflows/repo-maintenance.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
  .pre-commit-config.yaml
  Dockerfile.openpilot_base
  pyproject.toml
  release/release_files.py
  tools/README.md
  tools/install_python_dependencies.sh
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
