Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Reapply "Ford: don't fingerprint on engine (#31195)" (#31303)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
Due: mypy, pylint

Certified Herbalist Model (#31294)
  selfdrive/modeld/models/supercombo.onnx
Due: none

make URLFile safe after fork() (#31309)
  tools/lib/url_file.py
Due: mypy, pylint

test_logreader: test run_across_segments (#31305)
  tools/lib/tests/test_logreader.py
Due: mypy, pylint

webrtcd: lazy import of aiortc (#31304)
  system/webrtc/device/video.py
  system/webrtc/webrtcd.py
  tools/bodyteleop/web.py
Due: mypy, pylint

log vin request to qlog (#31314)
  selfdrive/car/vin.py
Due: mypy, pylint

update model replay ref (#31310)
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Ford: add ABS address to get VIN without OBD port (#31308)
  selfdrive/car/fw_query_definitions.py
Due: mypy, pylint

get_vin: respond to full 11-bit diagnostic address range (#31317)
  selfdrive/car/vin.py
Due: mypy, pylint

CI: Move repo maintenance bots to 6am (#31316)
  .github/workflows/repo-maintenance.yaml
Due: none

fix bootlog count (#31319)
  selfdrive/manager/helpers.py
  system/loggerd/logger.cc
Due: mypy, pylint, cppcheck

Reapply "Ford: don't fingerprint on engine (#31195)" part 2 (#31320)
  selfdrive/car/ford/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

Ford: Add missing FW for Escape 2022 (#31321)
  selfdrive/car/ford/fingerprints.py
Due: mypy, pylint

VW MQB: Add FW for 2024 Volkswagen Jetta (#30979)
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint
