Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Ford: add Explorer 2022 FW (#28792)
  selfdrive/car/ford/values.py
Due: mypy, pylint

Partial revert "Update cell.sh (#27055)"
  scripts/cell.sh
Due: none

update modem script (#28793)
  system/hardware/tici/restart_modem.sh
Due: none

ui/wifiManager: remove obsolete methods without definition. (#28802)
  selfdrive/ui/qt/offroad/wifiManager.h
Due: cppcheck

cabana: improve timeline (#28801)
  tools/cabana/chart/chart.cc
  tools/cabana/mainwin.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
  tools/replay/consoleui.cc
  tools/replay/replay.h
Due: none

ui: cleanup controls (#28809)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/widgets/controls.cc
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

Lexus: add missing FW for UX Hybrid 2023 (#28766)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

ui: more descriptive global names (#28813)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.h
Due: cppcheck

ui: fix alert disappear when no controlState is received in a frame. (#28811)
  selfdrive/ui/ui.h
Due: cppcheck

nav ui: restore speed-adaptive map zoom level (#28796)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: cppcheck

bump opendbc (#28818)
  selfdrive/car/toyota/toyotacan.py
Due: mypy, pylint

HKG: Car Port for Kia Carnival 2023 (HDA1) (#27785)
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

ui: remove function `configFont`. use `struct InterFont ` (#28773)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck
