Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

add onnx2torch dependency (#26710)
  pyproject.toml
Due: none

Kia Sorento: fix dash speed matching (#26582)
  selfdrive/car/hyundai/carstate.py
Due: mypy, pylint

Car docs: move shop footnotes into openpilot (#26715)
  docs/CARS.md
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

Mazda: Add support for 2023 CX9 in CARS.md (#26717)
  docs/CARS.md
  selfdrive/car/mazda/values.py
Due: mypy, pylint

Cabana: support multiple instances (#26286)
  tools/cabana/cabana.cc
Due: none

Car docs: update CAN-FD footnote (#26718)
  docs/CARS.md
Due: none

Update comment on sound.cc volume based(speed ->noise) (#26719)
  selfdrive/ui/soundd/sound.cc
Due: cppcheck

Chrysler: fix LKAS fault for 2017 Pacifica (#26711)
  selfdrive/car/chrysler/carcontroller.py
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

Kona: adjust friction (#26720)
  selfdrive/car/torque_data/params.yaml
Due: none

Mazda: Add 2023 CX9 fw (#26704)
  selfdrive/car/mazda/values.py
Due: mypy, pylint

nav model replay (#26697)
  .github/workflows/selfdrive_tests.yaml
  Jenkinsfile
  selfdrive/navd/map_renderer.cc
  selfdrive/navd/map_renderer.h
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy, pylint, cppcheck

soundd: tune volume to reach max at slightly higher noise level
  selfdrive/ui/soundd/sound.cc
Due: cppcheck

jenkins: don't clog up build queue (#26724)
  Jenkinsfile
Due: none

LatControl: remove duplicate logic for saturation (#26725)
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
