Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Qcomgpsd: Dont use system timezone (#30508)
  system/qcomgpsd/qcomgpsd.py
Due: mypy, pylint

Update Python packages and pre-commit hooks (#30509)
  .pre-commit-config.yaml
Due: none

allow onscreen cpu rendering (#30510)
  selfdrive/navd/main.cc
  system/hardware/base.h
  system/hardware/pc/hardware.h
  system/hardware/tici/hardware.h
Due: cppcheck

locationd: remove models unused in openpilot (#30481)
  Dockerfile.openpilot
  SConstruct
  release/files_common
  selfdrive/locationd/SConscript
  selfdrive/locationd/models/gnss_helpers.py
  selfdrive/locationd/models/gnss_kf.py
  selfdrive/locationd/models/lane_kf.py
  selfdrive/locationd/models/loc_kf.py
  tools/sim/Dockerfile.sim
Due: mypy, pylint

Pytest: add cpp harness (#30471)
  pyproject.toml
  selfdrive/test/cpp_harness.py
Due: mypy, pylint

Subaru: ignore eyesight faults when openpilot is controlling long (#30390)
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/subarucan.py
Due: mypy, pylint

cleanup cameraview shader (#30520)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

CI: automatically create PR to bump submodules (#30523)
  .github/workflows/repo-maintenance.yaml
Due: none

Update Python packages and pre-commit hooks (#30529)
  .pre-commit-config.yaml
Due: none

Revert "CI: automatically create PR to bump submodules (#30523)"
  .github/workflows/repo-maintenance.yaml
Due: none
