Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Add missing AVALONH_TSS2 fwdRadar f/w (#27215)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

cabana: delay starting live streaming thread (#27213)
  tools/cabana/streams/livestream.cc
Due: none

cabana: improve align charts (#27217)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

cabana: only relayout charts when needed (#27210)
  tools/cabana/chartswidget.cc
Due: none

cabana: fix incorrect clamp (#27218)
  tools/cabana/chartswidget.cc
Due: none

docs: update cabana usage in README (#27225)
  tools/cabana/README.md
Due: none

setup pre-built master-ci (#27205)
  Jenkinsfile
  release/build_release.sh
  system/version.py
Due: mypy, pylint

cabana: concurrently update chart series (#27230)
  tools/cabana/chartswidget.cc
Due: none

cabana: click on legend to show/hide series (#27231)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

settings: highlight nightly in branch switcher (#27227)
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

setup: fix button label on ethernet (#27235)
  selfdrive/ui/qt/setup/setup.cc
Due: cppcheck

cabana: fixed wrong plot area after changed column count (#27228)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

installer: do not translate git progress strings (#27238)
  selfdrive/ui/installer/installer.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

cabana: improve charts toolbar (#27233)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none
