Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Ford Escape PHEV 2022 Fingerprint (#27382)
  selfdrive/car/ford/values.py
Due: mypy, pylint

Ford: add CarInfo for Plug-in Hybrids
  selfdrive/car/ford/values.py
Due: mypy, pylint

cabana: add support for load&save extra dbc info (#27203)
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tests/test_cabana.cc
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.h
Due: none

MPC path in UI (#27380)
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/controls/plannerd.py
  selfdrive/modeld/models/driving.cc
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: mypy, pylint, cppcheck

Update RELEASES.md old-commit-hash: 7acb4a94cc77a5d2b19b86fccdf373489bcb6f8d old-commit-hash: d8698e8895d82384351ff8fca03921f3b720f740
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: 7acb4a94cc77a5d2b19b86fccdf373489bcb6f8d
  RELEASES.md
Due: none

cabana: add space to help message (#27384)
  tools/cabana/mainwin.cc
Due: none

cabana: add qrc resource file (#27386)
  selfdrive/ui/SConscript
  tools/cabana/SConscript
  tools/cabana/assets/.gitignore
  tools/cabana/assets/assets.qrc
Due: none

cabana: add window icon (#27109)
  tools/cabana/assets/assets.qrc
  tools/cabana/assets/cabana-icon.png
  tools/cabana/cabana.cc
Due: none

Hyundai CAN-FD: common PT bus function cleanup (#27397)
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

Added FW for 2023 Hyundai Santa Cruz Limited (#27395)
  docs/CARS.md
Due: none

increase fetch depth for release submodule check
  release/check-submodules.sh
Due: none

HKG: update Santa Cruz model years (#27401)
  docs/CARS.md
Due: none

cabana: missing includes (#27390)
  tools/cabana/dbcmanager.h
Due: none
