Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cabana/chart: use different colors to distinguish similar signals (#29890)
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
Due: none

cabana: bug fixes (#29902)
  tools/cabana/chart/chartswidget.cc
  tools/cabana/streams/abstractstream.h
Due: none

scons: delete SHARED flag (#29906)
  SConstruct
  common/SConscript
Due: none

HKG: Car Port for Kia K8 Hybrid 2023 (HDA2) (#29899)
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Simulator: launch simulator from any directory (#29910)
  tools/sim/launch_openpilot.sh
Due: none

liblocationd: No longer used (#29909)
  .github/workflows/selfdrive_tests.yaml
  selfdrive/locationd/SConscript
  selfdrive/locationd/liblocationd.cc
  selfdrive/locationd/test/_test_locationd_lib.py
Due: mypy, pylint, cppcheck

cabana: use QStaticText to boost rending performance (#29900)
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

test_replay: speedup by preventing multiple downloads (#29901)
  tools/replay/tests/test_replay.cc
Due: none

locationd: Unit tests for different scenarios (#29908)
  .github/workflows/selfdrive_tests.yaml
  selfdrive/locationd/test/test_locationd_scenarios.py
Due: mypy, pylint

don't run test twice
  .github/workflows/selfdrive_tests.yaml
Due: none

framereader: add cache_dir argument (#29904)
  tools/lib/cache.py
  tools/lib/framereader.py
Due: mypy, pylint

Toyota: use torque control for Japanese-made 2023 RAV4 (#29896)
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/interface.py
Due: mypy, pylint

CI: login to dockerhub on aarch64 runners (#29915)
  .github/workflows/prebuilt.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
