Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

can debug pj layout
  tools/plotjuggler/layouts/CAN-bus-debug.xml
Due: none

pj: fix CAN bus layout for test
  tools/plotjuggler/layouts/CAN-bus-debug.xml
Due: none

VW MQB: Add FW for 2019 Skoda Superb (#29955)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Honda: add missing Ridgeline 2021 FW version (#29991)
  selfdrive/car/honda/values.py
Due: mypy, pylint

Simulator: add metadrive as optional simulator (#29935)
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive.py
  tools/sim/lib/simulated_car.py
  tools/sim/run_bridge.py
  tools/sim/tests/test_carla_bridge.py
  tools/sim/tests/test_metadrive_bridge.py
  tools/sim/tests/test_sim_bridge.py
Due: mypy, pylint

CI: disable buildjet on PR's from forks (#29979)
  .github/workflows/selfdrive_tests.yaml
Due: none

Chinese translations update (#29993)
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Simulator: fix port issues in devcontainer (#29977)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  tools/sim/run_bridge.py
Due: mypy, pylint

Tests: power_monitoring disable nonblocking writes (#29994)
  selfdrive/test/helpers.py
  selfdrive/thermald/tests/test_power_monitoring.py
Due: mypy, pylint

Simulator: add reset hotkey (#29995)
  tools/sim/bridge/carla.py
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive.py
  tools/sim/lib/common.py
  tools/sim/lib/keyboard_ctrl.py
Due: mypy, pylint

proclogd: fix test failures (#29971)
  system/proclogd/tests/test_proclog.cc
Due: cppcheck
