Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Hyundai CAN-FD: Panda safety config assignments cleanup (#29733)
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

Subaru: enable alpha longitudinal for gen1 cars (#30714)
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tests/routes.py
Due: mypy, pylint

ui: destroy egl_images in main thread (#30253)
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

athena: cleanup unused methods
  selfdrive/athena/athenad.py
  system/hardware/tici/hardware.py
Due: mypy, pylint

torqued: cache bucket points every minute while onroad (#30515)
  selfdrive/locationd/helpers.py
  selfdrive/locationd/torqued.py
Due: mypy, pylint

common/params: support nonblocking write (#29808)
  common/SConscript
  common/params.cc
  common/params.h
  common/params.py
  common/params_pyx.pyx
  common/tests/test_params.cc
  common/tests/test_params.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/paramsd.py
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/tests/test_power_monitoring.py
Due: mypy, pylint, cppcheck

boardd: improve the performance of `PandaUsbHandle::list()` (#30673)
  selfdrive/boardd/panda_comms.cc
Due: cppcheck

fix put_nonblocking reference
  selfdrive/locationd/helpers.py
  selfdrive/locationd/torqued.py
Due: mypy, pylint

bump up installer size (#30722)
  selfdrive/ui/SConscript
Due: none

add comma10k to contributing old-commit-hash: 0c24126a6b795b8f8e2c8fff0411ab671f568ace old-commit-hash: adee52a51fcbca6a3b4ad269f714e1d6aa93c261
  docs/CONTRIBUTING.md
Due: none

add comma10k to contributing old-commit-hash: 0c24126a6b795b8f8e2c8fff0411ab671f568ace
  docs/CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md old-commit-hash: b69c71eda91a85feef71d3afdb3ab3d29ccaa3fd old-commit-hash: f46adb93bbb64cf758e191693b730e0bd8bf5641
  docs/CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md old-commit-hash: b69c71eda91a85feef71d3afdb3ab3d29ccaa3fd
  docs/CONTRIBUTING.md
Due: none

Docker: add xvfb (#30727)
  tools/install_ubuntu_dependencies.sh
Due: none

Docs update (#30726)
  README.md
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
