Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

controlsd: use already initialized params (#32429)
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Events: remove dependency (#32430)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

card: move all car events (#32427)
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Revert "python deps: add sortedcontainers" (#32433)
  pyproject.toml
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32438)
  selfdrive/car/chrysler/fingerprints.py
Due: mypy, pylint

Fix incorrect korean translation (#32436)
  selfdrive/ui/translations/main_ko.ts
Due: none

Revert "card: move all car events (#32427)" (#32439)
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
Due: mypy, pylint

fix(ui): fix build error in onroad_home.cc without ENABLE_MAPS (#32441)
  selfdrive/ui/qt/onroad/onroad_home.cc
Due: cppcheck

DM: improve e2e predictions (#32431)
  selfdrive/modeld/models/dmonitoring_model.current
  selfdrive/modeld/models/dmonitoring_model.onnx
  selfdrive/modeld/models/dmonitoring_model_q.dlc
  selfdrive/monitoring/driver_monitor.py
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy, pylint

test_car_interface: run CC once (#32449)
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy, pylint

Toyota: remove redundant cancel code (#32448)
  selfdrive/car/toyota/carcontroller.py
Due: mypy, pylint
