Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

regen: fix params (#28375)
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: mypy, pylint

Revert "boardd: smaller spi chunk size (#28360)"
  selfdrive/boardd/spi.cc
Due: cppcheck

Honda: Add FW for 2023 Honda Passport (#28343)
  selfdrive/car/honda/values.py
Due: mypy, pylint

hot coffee model (#28296)
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/test/test_calibrationd.py
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint, cppcheck

test_onroad: tizi updates (#28379)
  selfdrive/test/test_onroad.py
Due: mypy, pylint

ci: test sof diffs in onroad test (#27723)
  selfdrive/test/test_onroad.py
Due: mypy, pylint

cabana: add a test case for dbc parsing (#28383)
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/tests/test_cabana.cc
Due: none

rawgpsd: fix loading assistance data (#28381)
  system/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

UI: connect to wifi prompt (#28273)
  selfdrive/assets/offroad/icon_wifi_uploading.svg
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
  selfdrive/ui/qt/widgets/wifi.cc
  selfdrive/ui/qt/widgets/wifi.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

replay: fixed incorrect totalSeconds when there are invalid segments in route (#28388)
  tools/replay/replay.h
Due: none

cabana: Add menu item that resets the window layout (#28390)
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Due: none

update pt-BR translations (#28393)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

cabana dbc: Sort signals by name if start bits are equal (#28399)
  tools/cabana/dbc/dbc.cc
Due: none
