Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Cabana: cleanup code (#26369)
  tools/cabana/README.md
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/settings.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

Cabana: fix wrong hardcoded column index (#26392)
  tools/cabana/messageswidget.cc
Due: none

Cabana: move dbc related code from MessagesWidget to MainWin (#26387)
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

Cabana: move the chart title into graphics view (#26389)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

Cabana: Reimplement HistoryLog::sizeHintForColumn to improve performance (#26393)
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
Due: none

Cabana: use QToolBar to manage the controls in ChartsView (#26388)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

FCW: less false positives (#26366)
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

Cabana: improve message sorting,filtering and updating. (#26396)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

onroad ui: fix opacity affecting other drawn icons (#26378)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

Subaru: add missing engine FW for 2019 Impreza (#26385)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

Hyundai: update Ioniq 5 HDA I supported model years (#26376)
  docs/CARS.md
Due: none

[torqued] Fix high speed oscillations (#26338)
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

E2e long model: calibrate model speed to wheel speed (#26395)
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: mypy, pylint, cppcheck
