Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

replace custom clock helpers with time module (#29499)
  common/SConscript
  common/clock.pyx
  common/realtime.py
  release/files_common
  scripts/waste.py
  selfdrive/athena/athenad.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/lateral_mpc_lib/lat_mpc.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/debug/can_printer.py
  selfdrive/debug/check_freq.py
  selfdrive/manager/process.py
  selfdrive/thermald/power_monitoring.py
  selfdrive/thermald/thermald.py
Due: mypy, pylint

move mypy config into pyproject.toml (#29501)
  .github/workflows/selfdrive_tests.yaml
  mypy.ini
  pyproject.toml
Due: none

common: C++ RateKeeper (#29374)
  .github/workflows/selfdrive_tests.yaml
  common/SConscript
  common/ratekeeper.cc
  common/ratekeeper.h
  common/tests/.gitignore
  common/tests/test_ratekeeper.cc
  release/files_common
  selfdrive/boardd/boardd.cc
  system/proclogd/main.cc
  system/sensord/sensors_qcom2.cc
Due: cppcheck

sensord: rm light sensor (#29503)
  system/sensord/SConscript
  system/sensord/sensors/file_sensor.cc
  system/sensord/sensors/file_sensor.h
  system/sensord/sensors/light_sensor.cc
  system/sensord/sensors/light_sensor.h
  system/sensord/sensors_qcom2.cc
  system/sensord/tests/test_sensord.py
Due: mypy, pylint, cppcheck

boardd: keepTime after failing to get `ignition_opt` (#29506)
  selfdrive/boardd/boardd.cc
Due: cppcheck

Setup cleanup vol. 2 (#29456)
  .github/workflows/selfdrive_tests.yaml
  tools/install_python_dependencies.sh
  tools/mac_setup.sh
  tools/openpilot_env.sh
  tools/ubuntu_setup.sh
Due: none

Subaru: remove unused backoff rate calculation (#29368)
  selfdrive/car/subaru/carcontroller.py
Due: mypy, pylint

tici: add wait_for_power helper (#29507)
  system/hardware/tici/power_monitor.py
Due: mypy, pylint

HKG: Car Port for Kia Sorento Hybrid 2023 (#29322)
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Subaru: longitudinal incorrect "inactive" rpm (#29496)
  selfdrive/car/subaru/carcontroller.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
