Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

updated: only fetch on metered connection when necessary (#31041)
  common/params.cc
  selfdrive/thermald/thermald.py
  selfdrive/updated.py
Due: mypy, pylint, cppcheck

uploader: delay uploading crash and boot logs on metered connections (#31045)
  system/loggerd/uploader.py
Due: mypy, pylint

thermald: match metered param to packet
  selfdrive/thermald/thermald.py
Due: mypy, pylint

FW query timing test: mock inconsistent, timing-based functions (#31048)
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

uploader: restrict qcam upload on metered connctions (#31047)
  common/params.cc
  selfdrive/athena/athenad.py
  system/loggerd/loggerd.cc
  system/loggerd/uploader.py
Due: mypy, pylint, cppcheck

update bolt bounty old-commit-hash: 5791afda15db08448e770be9f7b03cb7daee7a39 old-commit-hash: e7eabb2c9e0ea0e74061fcb36103f2972c354cf8
  docs/BOUNTIES.md
Due: none

update bolt bounty old-commit-hash: 5791afda15db08448e770be9f7b03cb7daee7a39
  docs/BOUNTIES.md
Due: none

Update BOUNTIES.md old-commit-hash: 292f2ea2884f52b0e2729c2b493521546197a5b3 old-commit-hash: b836c3022ff326b7a1a98c299af9d7a7247dbc54
  docs/BOUNTIES.md
Due: none

Update BOUNTIES.md old-commit-hash: 292f2ea2884f52b0e2729c2b493521546197a5b3
  docs/BOUNTIES.md
Due: none

replace pytest-timeouts with pytest-timeout (#31053)
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
Due: none

time to remove this
  launch_chffrplus.sh
Due: none

CI: use namespace.so (#31056)
  .github/workflows/auto-cache-restore/action.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Due: none

Revert "CI: use namespace.so" (#31060)
  .github/workflows/auto-cache-restore/action.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
Due: none

Toyota: combine more hybrid platforms (#31057)
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/routes.py
  selfdrive/car/tests/test_models_segs.txt
  selfdrive/car/torque_data/params.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/car/toyota/carcontroller.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

bootlog doesn't block startup (#31061)
  selfdrive/manager/helpers.py
  selfdrive/manager/manager.py
  system/hardware/hw.h
Due: mypy, pylint, cppcheck
