Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana: do not round time when seeking from chartswidget (#27141)
  tools/cabana/chartswidget.cc
Due: none

cabana: add button to suppress highlighted bytes (#27131)
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

cabana: add capability for switching between line and scatter plots (#27169)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Due: none

Chrysler: disable radar parsing (#27190)
  selfdrive/car/chrysler/interface.py
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

ui: tap experimental mode icon to toggle (#27064)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

loggerd: rotate if segment length is >20% longer than expected (#27193)
  selfdrive/loggerd/loggerd.cc
Due: cppcheck

controlsd: don't show steer saturated if recently overriding (#27191)
  selfdrive/controls/controlsd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Glonass support, ubloxd add ephemeris parsing (#27119)
  selfdrive/locationd/ublox_msg.cc
  selfdrive/locationd/ublox_msg.h
  selfdrive/test/process_replay/ref_commit
Due: cppcheck

glonass support laikad (#27173)
  selfdrive/locationd/laikad.py
Due: mypy, pylint

cabana: syc the last messages after seeking (#27149)
  tools/cabana/historylog.cc
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/replay/replay.cc
Due: none

Ford: add Lincoln Aviator 2021 to Ford Explorer platform (#27095)
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/values.py
  selfdrive/car/interfaces.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

HKG: Car Port for Kia K5 Hybrid 2020 (#26947)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: mypy, pylint

Add support for Malaysian Civic 2022 (#27126)
  selfdrive/car/honda/values.py
Due: mypy, pylint
