Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Driving Personality setting (also changes follow distance) (#24742)
  RELEASES.md
  common/params.cc
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, pylint, cppcheck

bump pylint
  pyproject.toml
Due: none

kor translation update (#28420)
  selfdrive/ui/translations/main_ko.ts
Due: none

ui: refactor ButtonParamControl (#28425)
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/controls.h
Due: cppcheck

process_replay: helpers (#28367)
  selfdrive/debug/run_process_on_route.py
  selfdrive/test/process_replay/__init__.py
  selfdrive/test/process_replay/compare_logs.py
  selfdrive/test/process_replay/model_replay.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
  tools/lib/helpers.py
  tools/plotjuggler/juggle.py
Due: mypy, pylint

Driving personality setting: add description (#28422)
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

VW MQB: Add FW for 2020 Skoda Kodiaq (#28428)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Lowered expected power draw for mapsd
  system/hardware/tici/tests/test_power_draw.py
Due: mypy, pylint

handle conversion exception for LongitudinalPersonality (#28426)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

More missing FW for the Ram 1500s (#28397)
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

Added additional Firmware for Ram 1500 (#28392)
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

VW MQB: Add FW for 2023 Skoda Koidaq RS (#28332)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
