Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

athena: remove MockParams from tests
  selfdrive/athena/tests/helpers.py
  selfdrive/athena/tests/test_athenad.py
Due: mypy, pylint

Fingerprints: automatically add missing FW versions from users [bot] (#31027)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Due: mypy, pylint

uploader cleanup (#31029)
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/uploader.py
Due: mypy, pylint

update onnxruntime to 1.16.3 (#31024)
  pyproject.toml
Due: none

Update PR templates + autogenerate (#31032)
  .github/PULL_REQUEST_TEMPLATE/car_port.md
  .github/PULL_REQUEST_TEMPLATE/fingerprint.md
  .github/PULL_REQUEST_TEMPLATE/tuning.md
  .github/build.py
  .github/pull_request_template.md
Due: mypy, pylint

Revert "uploader cleanup" (#31033)
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/uploader.py
Due: mypy, pylint

cleanup azure handling (#31034)
  selfdrive/test/update_ci_routes.py
  tools/lib/azure_container.py
  tools/lib/openpilotci.py
  tools/lib/openpilotcontainers.py
Due: mypy, pylint

uploader cleanup (#31035)
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/uploader.py
Due: mypy, pylint

Fix f-string in test_fw_query_on_routes.py old-commit-hash: 8c544d91392b6039c13b70657a0502ab1f993c76
  selfdrive/debug/test_fw_query_on_routes.py
Due: mypy, pylint

Fix f-string in test_fw_query_on_routes.py old-commit-hash: 8c544d91392b6039c13b70657a0502ab1f993c76 old-commit-hash: 19915ae64099cc7113326c18f32d28b35f25f39c
  selfdrive/debug/test_fw_query_on_routes.py
Due: mypy, pylint

cleanup old params (#31039)
  common/params.cc
  selfdrive/athena/registration.py
  system/hardware/base.py
  system/hardware/pc/hardware.py
  system/hardware/tici/hardware.py
Due: mypy, pylint, cppcheck

update param in loggerd unit test
  system/loggerd/tests/test_loggerd.py
Due: mypy, pylint

prevent typing issue in azure_container (#31044)
  tools/lib/azure_container.py
Due: mypy, pylint

No curv rate for lateral control (#31042)
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol.py
  selfdrive/controls/lib/latcontrol_angle.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/tests/test_latcontrol.py
Due: mypy, pylint

updated: only fetch on metered connection when necessary (#31041)
  common/params.cc
  selfdrive/thermald/thermald.py
  selfdrive/updated.py
Due: mypy, pylint, cppcheck
