Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

HKG: resume from standstill for HDA1 CAN-FD (#26069)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy, pylint

no more preserve bucket
  selfdrive/test/update_ci_routes.py
Due: mypy, pylint

Update RELEASES.md old-commit-hash: 93e972e6f9907382d62807c5d4c2eb80327ebc43 old-commit-hash: d67e95b3af66ad3680f5510160c0969dfb66acc7
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: 93e972e6f9907382d62807c5d4c2eb80327ebc43
  RELEASES.md
Due: none

DM: finetune e2e policy but keep alert rate (#26168)
  selfdrive/monitoring/driver_monitor.py
Due: mypy, pylint

GM: make loopback updated check more explicit
  selfdrive/car/gm/carstate.py
Due: mypy, pylint

Hyundai CAN-FD: use cruise signals from SCC ECU (#26171)
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

GM camera ACC: hide take steering alert (#26010)
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/gmcan.py
Due: mypy, pylint

cabana: remove unused metatype (#26175)
  tools/cabana/canmessages.cc
Due: none

cabana: improve signal highlight on hover (#26161)
  tools/cabana/binaryview.cc
Due: none

Cabana: multiple tabs detail view (#26174)
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

Cabana: move settings to seperate files (#26173)
  tools/cabana/SConscript
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Due: none

Cabana: dynamic sorting message list (#26150)
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

ui brightness: fix exposure scale factor (#26104)
  selfdrive/ui/ui.cc
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
