Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana: improve playback controller (#30325)
  tools/cabana/chart/chartswidget.cc
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.h
  tools/cabana/util.cc
  tools/cabana/util.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

cabana: save settings to user-specific directory (#30328)
  tools/cabana/.gitignore
  tools/cabana/cabana.cc
  tools/cabana/mainwin.cc
  tools/cabana/messageswidget.cc
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/tools/findsignal.h
Due: none

cabana: fix two ui bugs (#30327)
  tools/cabana/signalview.cc
  tools/cabana/videowidget.cc
Due: none

Honda: add FW for Civic Sport 2023 (#30316)
  selfdrive/car/honda/values.py
Due: mypy, pylint

cabana: rename signal node
  tools/cabana/signalview.cc
Due: none

rawgpsd: add flag for cold start (#30224)
  system/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

selfdrive_tests: allow manual run (#30307)
  .github/workflows/selfdrive_tests.yaml
Due: none

process_replay: migrate cameraStates of segments without driverEncodeIdx (#30331)
  selfdrive/test/process_replay/migration.py
Due: mypy, pylint

process_replay: use frame dimensions from FrameReader (#30332)
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

URLFile: exception type for failed requests (#30330)
  tools/lib/url_file.py
Due: mypy, pylint

Added sentry hooks for modeld
  selfdrive/modeld/modeld.py
Due: mypy, pylint

fix up docker script
  selfdrive/test/docker_common.sh
Due: none

cabana: support multiple cameras (#30339)
  tools/cabana/cabana.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

ui: Always display Wi-Fi list when navigating to Network panel (#30333)
  selfdrive/ui/qt/network/networking.cc
Due: cppcheck
