Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

CanBusBase: fix offset calculation (#28938)
  selfdrive/car/__init__.py
Due: mypy, pylint

Adding FW for 2023 Volkswagen Arteon (#28913)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

experimental mode: gate navigate on openpilot (#28883)
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/modeld.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, pylint, cppcheck

GM ASCM: don't apply gas when stopping (#28699)
  selfdrive/car/gm/carcontroller.py
Due: mypy, pylint

Hyundai: fix alt button cancel message always blocked (#28941)
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy, pylint

loggerd: add types to tests and use pathlib (#28943)
  system/loggerd/config.py
  system/loggerd/tests/fill.py
  system/loggerd/tests/loggerd_tests_common.py
  system/loggerd/tests/test_deleter.py
  system/loggerd/tests/test_uploader.py
  system/loggerd/xattr_cache.py
Due: mypy, pylint

modeld: comment out unused variables (#28944)
  selfdrive/modeld/dmonitoringmodeld.cc
  selfdrive/modeld/modeld.cc
Due: cppcheck

ui/map: cache navigation images at startup (#28783)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: cppcheck

ui: set max brightness when showing the QR code (#28907)
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

test_models: fix rx message bus (#28947)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

test_models: don't skip test cases with multiple pytest jobs (#28953)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

FuzzyGenerator: typing (#28934)
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/fuzzy_generation.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
