Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Link to setup guide in WORKFLOW.md (#30708)
  docs/WORKFLOW.md
Due: none

Ford: Add F-150 Lightning (#30692)
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Ford: consolidate comments about unsupported hybrid platforms (#30709)
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/interface.py
Due: mypy, pylint

Car docs: fixes (#30710)
  selfdrive/car/README.md
Due: none

ignore tools/ in codecov (#30711)
  codecov.yml
Due: none

Hyundai: Car Port for Staria 2023 (#30672)
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Ford: Add Mach-E (#30691)
  selfdrive/car/ford/interface.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

CI: add codecov token (#30716)
  .github/workflows/selfdrive_tests.yaml
Due: none

bounties docs (#30718)
  docs/BOUNTIES.md
Due: none

ui/onroad: avoid drawing invalid lanes and leads (#29666)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

fixup can replay for jungle v2 and tres
  tools/replay/can_replay.py
Due: mypy, pylint

read params in a thread
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Ford: radar + long control fixups (#28948)
  selfdrive/car/ford/carcontroller.py
  selfdrive/car/ford/fordcan.py
  selfdrive/car/ford/radar_interface.py
Due: mypy, pylint

Hyundai CAN-FD: Panda safety config assignments cleanup (#29733)
  selfdrive/car/hyundai/interface.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
