Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Clean up common steer fault avoidance code (#29200)
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Due: mypy, pylint

aarch64: ubuntu build support (#29171)
  SConstruct
  release/files_common
  release/files_pc
  release/files_tici
  selfdrive/controls/lib/lateral_mpc_lib/SConscript
  selfdrive/controls/lib/longitudinal_mpc_lib/SConscript
  selfdrive/modeld/SConscript
  selfdrive/navd/SConscript
  selfdrive/ui/SConscript
  third_party/acados/aarch64
  third_party/libyuv/aarch64
  third_party/libyuv/x86_64/include
Due: none

Clean up model_publish args to simplify cython bindings (#29203)
  selfdrive/modeld/modeld.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/models/driving.h
Due: cppcheck

manager: remove old unkillable process handling (#29209)
  selfdrive/manager/process.py
  selfdrive/manager/process_config.py
Due: mypy, pylint

third_party: remove curl binaries and headers (#29206)
  SConstruct
  third_party/curl/build.txt
  third_party/curl/include/Makefile.am
  third_party/curl/include/README
  third_party/curl/include/curl/.gitignore
  third_party/curl/include/curl/Makefile.am
  third_party/curl/include/curl/curl.h
  third_party/curl/include/curl/curlbuild.h
  third_party/curl/include/curl/curlbuild.h.cmake
  third_party/curl/include/curl/curlbuild.h.dist
  third_party/curl/include/curl/curlbuild.h.in
  third_party/curl/include/curl/curlrules.h
  third_party/curl/include/curl/curlver.h
  third_party/curl/include/curl/easy.h
  third_party/curl/include/curl/mprintf.h
  third_party/curl/include/curl/multi.h
  third_party/curl/include/curl/stdcheaders.h
  third_party/curl/include/curl/typecheck-gcc.h
Due: none

Updated Carla to version 0.9.14 (#29210)
  tools/sim/start_carla.sh
Due: none

docs: fix 3x shop link (#29212)
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

car docs diff bot: don't ignore failures
  .github/workflows/selfdrive_tests.yaml
Due: none

car docs: update Toyota vote link (#29218)
  selfdrive/car/CARS_template.md
Due: none

athenad test: use helper function (#29217)
  selfdrive/athena/tests/test_athenad_ping.py
Due: mypy, pylint

athenad: update comment about timeout constant (#29216)
  selfdrive/athena/athenad.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
