Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

hardware: move gpio_export (#29154)
  common/gpio.py
  system/hardware/tici/power_draw_test.py
Due: mypy, pylint

CI: allow triggering fast release builds
  .github/workflows/release.yaml
Due: none

gpio_export return type (#29158)
  common/gpio.py
Due: mypy, pylint

map renderer: log when initializing layer (#29157)
  selfdrive/navd/map_renderer.cc
Due: cppcheck

special opencv is only for xx (#29161)
  pyproject.toml
Due: none

map renderer: log unexpected map states (#29160)
  selfdrive/navd/map_renderer.cc
Due: cppcheck

[commabody] Add body packages to op (#29162)
  pyproject.toml
  tools/mac_setup.sh
  tools/ubuntu_setup.sh
Due: none

macOS: use bash_profile instead of bashrc (#29165)
  tools/mac_setup.sh
Due: none

add panda bootstubs to release files (#29163)
  release/build_release.sh
Due: none

build_release: rm panda obj dir old-commit-hash: 73e3d69b8d03796ba1558aef8320331b9c3d2e8a old-commit-hash: 48c410cc1fd09f0bc0f405f26b2f7e6c91b1a461
  release/build_release.sh
Due: none

build_release: rm panda obj dir old-commit-hash: 73e3d69b8d03796ba1558aef8320331b9c3d2e8a
  release/build_release.sh
Due: none

Experimental mode toggle description: missing spaces (#29167)
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

bump to 0.9.5
  RELEASES.md
  common/version.h
Due: cppcheck

libyuv: universal binary build for macOS (#29170)
  SConstruct
  third_party/libyuv/LICENSE.libyuv
  third_party/libyuv/build.sh
  third_party/libyuv/build.txt
Due: none

Update Car/Subaru values.py to support 2022 Crosstrek (#29177)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
