Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Toyota FPv2: log electronic parking brake ECU (#28612)
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Toyota FPv2: log telematics ECU (#28613)
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

networking: add forget btn pressed state (#28618)
  selfdrive/ui/qt/offroad/networking.cc
Due: cppcheck

macOS: fix build issues & re-enable CI (#28258)
  .github/workflows/selfdrive_tests.yaml
  SConstruct
  pyproject.toml
  release/files_common
  selfdrive/locationd/test/_test_locationd_lib.py
  third_party/acados/.gitignore
  third_party/acados/build.sh
  tools/cabana/util.cc
  tools/mac_setup.sh
Due: mypy, pylint

macOS: re-order CI caching jobs (#28622)
  .github/workflows/selfdrive_tests.yaml
Due: none

Hyundai: enable radar tracks for 2019 Santa Fe (#28623)
  selfdrive/debug/hyundai_enable_radar_points.py
Due: mypy, pylint

Remove get_model_yuv_transform function (#28568)
  common/modeldata.h
  selfdrive/modeld/modeld.cc
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
Due: cppcheck

process_replay: custom params (#28624)
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

car_helpers: add variable to disable FW cache (#28626)
  selfdrive/car/car_helpers.py
Due: mypy, pylint

Chrysler FPv2: rename Ecu.hcp to Ecu.hybrid (#28629)
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

gitignore: add file from a test (#28631)
  .gitignore
Due: none

Toyota: query hybrid vehicle control computer ECU (#28628)
  selfdrive/car/toyota/values.py
Due: mypy, pylint
