Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

build_release: increase timeout again (#30417)
  .github/workflows/selfdrive_tests.yaml
Due: none

params: Remove separate CarParams from each daemon (#30405)
  common/params.cc
  selfdrive/controls/controlsd.py
  selfdrive/locationd/helpers.py
  selfdrive/locationd/torqued.py
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint, cppcheck

CI: pytest for the rest for GHA (#30418)
  .github/workflows/selfdrive_tests.yaml
Due: none

bump panda (#30419)
  selfdrive/car/subaru/interface.py
Due: mypy, pylint

CI: label codecov uploads (#30426)
  .github/workflows/selfdrive_tests.yaml
Due: none

CI: codecov for multiprocessing (#30428)
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
  selfdrive/athena/tests/test_athenad.py
Due: mypy, pylint

Revert "CI: codecov for multiprocessing" (#30431)
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
  selfdrive/athena/tests/test_athenad.py
Due: mypy, pylint

Fix typo in CARS.md (#30433)
  selfdrive/car/CARS_template.md
Due: none

Subaru: Add FW for 2022 Legacy (#30434)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

replay: make `speed_` atomic (#30429)
  tools/replay/replay.h
Due: none

SOM boot recovery (#30427)
  common/params.cc
  selfdrive/boardd/pandad.py
Due: mypy, pylint, cppcheck

VW MQB: Add FW for 2020 Volkswagen Atlas (#30430)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

cabana: allocate qt objects on the heap instead of stack (#30374)
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
