Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Revert "pyproject: support >= 3.11"
  pyproject.toml
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32542)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/honda/fingerprints.py
Due: mypy, pylint

Revert no pyenv (#32547)
  .github/workflows/selfdrive_tests.yaml
  .python-version
  Dockerfile.openpilot_base
  selfdrive/test/ci_shell.sh
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
  tools/mac_setup.sh
Due: none

tools/simulator: Remove superseded build script for sim docker (#32546)
  tools/sim/build_container.sh
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32552)
  selfdrive/car/chrysler/fingerprints.py
Due: mypy, pylint

cabana: fix panda stream issues (#32537)
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/socketcanstream.h
  tools/cabana/streamselector.cc
  tools/cabana/streamselector.h
Due: none

CI: add devcontainer-rebuild workflow (#32564)
  .github/workflows/tools_tests.yaml
Due: none

KIA SPORTAGE 5th HEV 2022 EUR fingerprint (#32558)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

dmonitoringd: set invalid if missing dependence(s) (#32569)
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/monitoring/helpers.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

common/prefix.h: Fix incomplete path cleanup on exit (#32559)
  common/prefix.h
Due: cppcheck

map window: log style load errors (#32573)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

ui: re-generate JWT on valid system time (#32571)
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
  selfdrive/ui/ui.cc
Due: cppcheck

Simulator: update MetaDrive to latest (#32576)
  pyproject.toml
  tools/sim/bridge/metadrive/metadrive_process.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
