Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

proclogd: fix test failures (#29971)
  system/proclogd/tests/test_proclog.cc
Due: cppcheck

Simulator: improve carla experience (#29996)
  tools/sim/bridge/carla.py
Due: mypy, pylint

Optimus Prime Model 🤖 (#29752)
  selfdrive/modeld/models/driving.h
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: cppcheck

hypothesis: fix too slow health check (#30001)
  pyproject.toml
Due: none

pre-commit: use non-deprecated lock file check command (#30003)
  .pre-commit-config.yaml
Due: none

services: capitalize constant service list (#30005)
  selfdrive/athena/athenad.py
  selfdrive/controls/lib/events.py
  selfdrive/debug/check_lag.py
  selfdrive/debug/count_events.py
  selfdrive/debug/dump.py
  selfdrive/debug/internal/qlog_size.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/profiling/lib.py
  selfdrive/test/test_onroad.py
  system/camerad/test/test_camerad.py
  system/hardware/tici/tests/test_power_draw.py
  system/loggerd/tests/test_loggerd.py
  system/sensord/tests/test_pigeond.py
  system/sensord/tests/test_sensord.py
Due: mypy, pylint

bump pandaStates to 10Hz (#29889)
  selfdrive/boardd/boardd.cc
  selfdrive/thermald/thermald.py
Due: mypy, pylint, cppcheck

modeld: remove extra cloudlog.bind, manager does this
  selfdrive/modeld/modeld.py
Due: mypy, pylint

Revert "modeld: remove extra cloudlog.bind, manager does this"
  selfdrive/modeld/modeld.py
Due: mypy, pylint

disable panda flash logging (#30000)
  selfdrive/boardd/pandad.py
Due: mypy, pylint

Kia: Optima Hybrid 2019 car port (#29992)
  selfdrive/car/hyundai/interface.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: mypy, pylint

Add Optima to release notes
  RELEASES.md
Due: none

Hyundai: Car port for AZERA Hybrid 6TH Generation (#29984)
  RELEASES.md
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
