Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update RELEASES.md old-commit-hash: 32da60c551594247bb04b179d95357a15370519a old-commit-hash: dc7f3077e3973188c278d1b16fbf9e7cbecdf269
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: 32da60c551594247bb04b179d95357a15370519a
  RELEASES.md
Due: none

remove accFaultedTemp, add steerTimeLimit (#27720)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

process replay: fix socket-ful replay flakiness (#27721)
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

cabana: add a slider to set sparkline time range (#27727)
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/chartswidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/signalview.cc
  tools/cabana/signalview.h
  tools/cabana/util.h
  tools/cabana/videowidget.cc
Due: none

cabana: fix merging sources for already open DBC file (#27715)
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
Due: none

torqued: reset LiveTorqueParameters on calibration reset (#27732)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Revert "torqued: reset LiveTorqueParameters on calibration reset" (#27736)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

torqued: reset LiveTorqueParameters on calibration reset (#27737)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Bolt EUV: Non-linear torque function (#27696)
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/interfaces.py
  selfdrive/controls/lib/drive_helpers.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

tizi: add panda siren fault (#27738)
  selfdrive/boardd/boardd.cc
Due: cppcheck

Locationd qcom retune (#27739)
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/test/process_replay/ref_commit
Due: cppcheck

Honda Civic 2022: match stock Auto Idle Stop behavior (#27722)
  selfdrive/car/honda/carcontroller.py
  selfdrive/car/honda/hondacan.py
Due: mypy, pylint

Add missing AVALON_TSS2 engine & ABS f/w (#27733)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Honda Bosch Radarless: update stopAccel to match actuation limits (#27740)
  selfdrive/car/honda/interface.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
