Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

update metadrive (#29938)
  pyproject.toml
Due: none

Test modeld: 3s enough for modeld startup (#29936)
  selfdrive/modeld/tests/test_modeld.py
Due: mypy, pylint

sensord: test update for provisioning (#29942)
  system/sensord/tests/test_sensord.py
Due: mypy, pylint

macOS: add prompt about support in setup script (#29939)
  .github/workflows/selfdrive_tests.yaml
  tools/mac_setup.sh
Due: none

VW: fingerprint for Crafter MK2 (#29926)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

VW: missing FW for Tiguan 2019 (#29943)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Add Tiguan 2019 fingerprint (#29892)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

ruff: check mutable default values for data class attributes (#29945)
  pyproject.toml
Due: none

Revert "CI: login to dockerhub on aarch64 runners (#29915)"
  .github/workflows/prebuilt.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

Duplicated #include in settings.cc (#29951)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

cabana: add button to skip to the end of stream (#29953)
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

add ruff package
  pyproject.toml
Due: none

ui: add missing Arabic translations & show in UI (#29881)
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_ar.ts
Due: none

cabana: fix QMenu leak (#29956)
  tools/cabana/messageswidget.cc
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
