Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana/MessageViewHeader: fixed header position issue (#28291)
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
Due: none

cabana: support editing dbc files without a stream (#28294)
  tools/cabana/cabana.cc
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/tools/findsimilarbits.cc
Due: none

laikad: unit test refactor (#28295)
  selfdrive/locationd/test/test_laikad.py
Due: mypy, pylint

UI: update "Finish Setup" widget style (#28287)
  selfdrive/ui/qt/widgets/prime.cc
Due: cppcheck

cabana: support editing comments for messages (#28299)
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbc/dbc.h
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/messageswidget.cc
  tools/cabana/signalview.cc
  tools/cabana/tools/findsignal.cc
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

UI: PrimeUserWidget cleanup (#28300)
  selfdrive/ui/qt/widgets/prime.cc
  selfdrive/ui/qt/widgets/prime.h
Due: cppcheck

Revert "ui: smooth wide cam transition" (#28298)
  common/modeldata.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
Due: cppcheck

boardd: only look for new usb pandas
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Due: cppcheck

Subaru: frequency based messaging (#28066)
  selfdrive/car/subaru/carcontroller.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Subaru: explicitly copy signals to forward (#28304)
  selfdrive/car/subaru/subarucan.py
Due: mypy, pylint

Nissan: explicitly copy signals to forward (#28305)
  selfdrive/car/nissan/carcontroller.py
  selfdrive/car/nissan/nissancan.py
Due: mypy, pylint

Tesla: explicitly copy signals to forward (#28306)
  selfdrive/car/tesla/teslacan.py
Due: mypy, pylint

Hyundai: explicitly copy signals to forward (#28020)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaican.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy, pylint
