Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Allow Honda Nidec vehicles with comma pedal to drive at max speed. (#26902)
  selfdrive/car/honda/interface.py
Due: mypy, pylint

cabana: cleanup code for charts (#27350)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
Due: none

locationd: adjust GPS alive check for QCOM GPS (#27339)
  selfdrive/locationd/locationd.cc
  selfdrive/test/process_replay/ref_commit
Due: cppcheck

cabana: refactor message id from QString to struct (#27352)
  tools/cabana/binaryview.cc
  tools/cabana/binaryview.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.cc
  tools/cabana/commands.h
  tools/cabana/dbcmanager.cc
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/tools/findsimilarbits.h
Due: none

Write boardd param to continue startup (#27354)
  selfdrive/car/car_helpers.py
  selfdrive/car/fw_versions.py
Due: mypy, pylint

process replay: fix hang
  selfdrive/test/process_replay/process_replay.py
Due: mypy, pylint

CAN fingerprint script improvements (#27355)
  selfdrive/debug/fingerprint_from_route.py
  selfdrive/debug/get_fingerprint.py
Due: mypy, pylint

Car interfaces: assert reasonable centerToFront range (#27356)
  selfdrive/car/gm/interface.py
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

GM: Escalade 2017 support (#27276)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
Due: mypy, pylint

Hyundai: 2015-16 Genesis resume from standstill fix (#25579)
  selfdrive/car/hyundai/carcontroller.py
Due: mypy, pylint

cabana: fix updating tabbar_ids on "Close Other Tabs" (#27362)
  tools/cabana/detailwidget.cc
Due: none
