Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

bootlog doesn't block startup (#31061)
  selfdrive/manager/helpers.py
  selfdrive/manager/manager.py
  system/hardware/hw.h
Due: mypy, pylint, cppcheck

fix param path
  system/hardware/hw.h
Due: cppcheck

manager: merge prepare and init
  selfdrive/manager/manager.py
Due: mypy, pylint

speedup prebuilt check (#31065)
  launch_chffrplus.sh
  selfdrive/manager/build.py
Due: mypy, pylint

remove early RTC time pull (#31066)
  launch_chffrplus.sh
Due: none

cleanup startup params (#31068)
  Jenkinsfile
  selfdrive/manager/helpers.py
Due: mypy, pylint

CI: use namespace.io (#31064)
  .github/workflows/auto-cache-restore/action.yaml
  .github/workflows/compile-openpilot/action.yaml
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  selfdrive/test/docker_build.sh
Due: none

silence xvfb (#31069)
  selfdrive/test/setup_xvfb.sh
Due: none

UI/close_btn: Removed unused border code (#31073)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

remove old ref to manager_prepare
  selfdrive/manager/test/test_manager.py
Due: mypy, pylint

don't block startup on time (#31074)
  selfdrive/thermald/thermald.py
Due: mypy, pylint

CI: auto-cache add option to save cache (#31076)
  .github/workflows/auto-cache/action.yaml
  .github/workflows/setup/action.yaml
Due: none

Enable cache for pre-commit (#31071)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-pre-commit/action.yaml
Due: none

bump that up old-commit-hash: 8a26b4383f6dfa6a1fca7d4db5bfcc0d4b06deda old-commit-hash: 353e0a9566e429d56dce4c18fa2a6b70c6130a2f
  .github/workflows/selfdrive_tests.yaml
Due: none

bump that up old-commit-hash: 8a26b4383f6dfa6a1fca7d4db5bfcc0d4b06deda
  .github/workflows/selfdrive_tests.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
