Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

ci: disable concurrency for master branch (#26052)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/tools_tests.yaml
Due: none

build extras together (#26051)
  SConstruct
  tools/cabana/SConscript
  tools/replay/SConscript
Due: none

rawgpsd: log + skip unknown responses (#26043)
  selfdrive/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

add CAN-FD non-ISO mode support (#25947)
  selfdrive/boardd/boardd.cc
  selfdrive/boardd/panda.cc
  selfdrive/boardd/panda.h
Due: cppcheck

Allow car port to define enable buttons (#25793)
  selfdrive/car/__init__.py
  selfdrive/car/interfaces.py
  selfdrive/car/volkswagen/interface.py
Due: mypy, pylint

cabana: keep scrollarea frame (#26056)
  tools/cabana/chartswidget.cc
Due: none

VW MQB: DBC updates and cleanup (#26053)
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/pqcan.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

locationd: Fix GPS sensor times with fixed offsets (#25920)
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/models/live_kf.cc
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint, cppcheck

remove null effect assert
  selfdrive/sensord/rawgps/rawgpsd.py
Due: mypy, pylint

cabana: increase replay's segment cache limit & add setting dialog (#26019)
  tools/cabana/.gitignore
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/replay/replay.cc
  tools/replay/replay.h
Due: none

joystickd: add controller mapping (#25986)
  tools/joystick/joystickd.py
Due: mypy, pylint

Hyundai: share panda flags with CAN-FD platform (#26058)
  selfdrive/car/hyundai/interface.py
  selfdrive/test/process_replay/ref_commit
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

Hyundai: fix alt CAN-FD cancel (#26057)
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy, pylint

Hyundai: split alt gas pressed signals by EV and ICE (#26061)
  selfdrive/car/hyundai/carstate.py
Due: mypy, pylint
