Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

cabana: fix QMenu leak (#29956)
  tools/cabana/messageswidget.cc
Due: none

CI: login to docker hub on BuildJet (#29961)
  .github/workflows/selfdrive_tests.yaml
  .github/workflows/setup-with-retry/action.yaml
  .github/workflows/setup/action.yaml
Due: none

cabana/chart: add contex menu (#29957)
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
Due: none

Params: better error logging on constructor (#29954)
  common/params.cc
  common/params_pyx.pyx
Due: cppcheck

setup README: Native on 20.04, WSL on windows, otherwise devcontainer (#29928)
  tools/README.md
Due: none

add tmux and vim config to dev container (#29967)
  .devcontainer/Dockerfile
Due: none

dev container: pull docker base image (#29968)
  .devcontainer/host_setup.sh
Due: none

Simulator: fix controlsd mismatch (#29976)
  tools/sim/lib/simulated_car.py
Due: mypy, pylint

Revert "Toyota: use torque control for Japanese-made 2023 RAV4" (#29978)
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/override.yaml
  selfdrive/car/toyota/interface.py
Due: mypy, pylint

Params: nogil at the end (#29983)
  common/params_pyx.pyx
Due: none

bump version to 0.9.6
  RELEASES.md
  common/version.h
Due: cppcheck

params: log `prefix` on fail (#29973)
  common/params.cc
Due: cppcheck

Update Python packages and pre-commit hooks (#29974)
  .pre-commit-config.yaml
  selfdrive/car/tests/test_can_fingerprint.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
