Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

ui: prevent constant clicking on experimental button (#27865)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

Ford: add Escape 2021 FW (#28744)
  selfdrive/car/ford/values.py
Due: mypy, pylint

Revert "remove sleep on launch (#28236)"
  launch_chffrplus.sh
Due: none

ui: fix memory leak in `MapSettings` (#28701)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

manager: write ublox param on change (#28748)
  selfdrive/manager/process_config.py
Due: mypy, pylint

reduce startup alert duration (#28749)
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

simple fuzzing test for all processes (#28661)
  .github/workflows/selfdrive_tests.yaml
  selfdrive/car/tests/test_car_interfaces.py
  selfdrive/test/fuzzy_generation.py
  selfdrive/test/process_replay/test_fuzzy.py
Due: mypy, pylint

ui/device: remove method motionTrigger (#28754)
  selfdrive/ui/ui.h
Due: cppcheck

manager: create params once (#28757)
  selfdrive/manager/process.py
Due: mypy, pylint

VW MQB: Add FW for 2017 Škoda Superb (#28756)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Added new 2023 Ram 1500 FW (#28758)
  selfdrive/car/chrysler/values.py
Due: mypy, pylint

Revert "ui: fix memory leak in `MapSettings` (#28701)"
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

ui/sidebar: Fix the inconsistent padding in different languages. (#28746)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
Due: cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
