Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Ruff: Disallow implicit string concat (#29316)
  pyproject.toml
Due: none

ruff: check for unused noqa
  pyproject.toml
Due: none

CI: bump up model test timeout old-commit-hash: cd4bb412f5a6ecbf150b464ea2597943de12d208 old-commit-hash: be208b84086857c03f80b846db8a8dd3f8636520
  .github/workflows/selfdrive_tests.yaml
Due: none

CI: bump up model test timeout old-commit-hash: cd4bb412f5a6ecbf150b464ea2597943de12d208
  .github/workflows/selfdrive_tests.yaml
Due: none

Ruff: enable flake8-builtins (#29315)
  common/logging_extra.py
  docs/conf.py
  pyproject.toml
  selfdrive/athena/athenad.py
  selfdrive/car/docs_definitions.py
  selfdrive/car/tests/test_docs.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/test/process_replay/process_replay.py
  system/ubloxd/tests/ublox.py
  tools/lib/auth.py
Due: mypy, pylint

Car interfaces: remove hard-coded signal definitions (#27773)
  selfdrive/car/body/carstate.py
  selfdrive/car/chrysler/carstate.py
  selfdrive/car/chrysler/radar_interface.py
  selfdrive/car/ford/carstate.py
  selfdrive/car/ford/radar_interface.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/radar_interface.py
  selfdrive/car/honda/carstate.py
  selfdrive/car/honda/radar_interface.py
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/radar_interface.py
  selfdrive/car/mazda/carstate.py
  selfdrive/car/nissan/carstate.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/tesla/carstate.py
  selfdrive/car/tesla/radar_interface.py
  selfdrive/car/toyota/carstate.py
  selfdrive/car/toyota/radar_interface.py
  selfdrive/car/volkswagen/carstate.py
Due: mypy, pylint

ui/onroad: move duplicated code to `drawIcon()` (#29149)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
Due: cppcheck

ui onroad: utilize local variables for repeated capnp reader access (#29325)
  selfdrive/ui/qt/onroad.cc
Due: cppcheck

common_fault_avoidance: take a bool (#29328)
  selfdrive/car/__init__.py
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/toyota/carcontroller.py
Due: mypy, pylint

ui/map: set WA_NoMousePropagation to prevent mouse event from propagating up (#29329)
  selfdrive/ui/qt/maps/map_settings.cc
  selfdrive/ui/qt/maps/map_settings.h
Due: cppcheck

ui/map: check NavDestination only if navInstruction is invalid (#29331)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

ui/map_instructions: clean up lane icon selection (#29330)
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
Due: cppcheck

ui/map: fix CSS error (#29332)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

ui/map_instructions: round <500 distances (#29333)
  selfdrive/ui/qt/maps/map_instructions.cc
Due: cppcheck
