Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Multilang: kor translation update (#29018)
  selfdrive/ui/translations/main_ko.ts
Due: none

process_replay: support for replaying multiple processes simultaneously (#28829)
  selfdrive/test/process_replay/helpers.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
  selfdrive/test/process_replay/test_processes.py
Due: mypy, pylint

nav: show green path when enabled (#29020)
  selfdrive/ui/qt/maps/map.cc
Due: cppcheck

Force build of openpilot-base for OpenCL tests (#29022)
  .github/workflows/selfdrive_tests.yaml
Due: none

Update pycapnp and Cython (#29021)
  SConstruct
  pyproject.toml
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/plannerd.py
  selfdrive/controls/radard.py
  selfdrive/debug/dump.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/laikad.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/test/_test_locationd_lib.py
  selfdrive/locationd/torqued.py
Due: mypy, pylint

regen: blacklist-procs option (#29024)
  selfdrive/test/process_replay/regen.py
Due: mypy, pylint

Revert "Update pycapnp and Cython (#29021)"
  SConstruct
  pyproject.toml
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/plannerd.py
  selfdrive/controls/radard.py
  selfdrive/debug/dump.py
  selfdrive/debug/internal/measure_torque_time_to_max.py
  selfdrive/locationd/calibrationd.py
  selfdrive/locationd/laikad.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/test/_test_locationd_lib.py
  selfdrive/locationd/torqued.py
Due: mypy, pylint

test_manager: skip mapsd check for now
  selfdrive/manager/test/test_manager.py
Due: mypy, pylint

test_car_interfaces: use DT_CTRL
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy, pylint

navd: handle key present with none value (#29025)
  selfdrive/navd/helpers.py
Due: mypy, pylint

Updated: fix setting update time (#29004)
  common/time.py
  selfdrive/updated.py
Due: mypy, pylint

CI: use locally built image as CL base (#29030)
  .github/workflows/selfdrive_tests.yaml
Due: none

Toyota: add hybrid ECU FW versions for 2023 RAV4 Hybrid (#29023)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

boardd: update cython syntax (#29031)
  selfdrive/boardd/boardd_api_impl.pyx
  selfdrive/boardd/can_list_to_can_capnp.cc
Due: cppcheck
