Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

tools/rerun: streaming to one Viewer from multiple processes (#32595)
  tools/rerun/run.py
Due: mypy, pylint

LongitudinalPlanner: replace hardcoded length with ModelConstants.IDX_N (#32597)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from CAN fingerprinting cars (#32604)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

boardd: check CAN in SPI test (#32400)
  selfdrive/boardd/tests/test_boardd_loopback.py
  selfdrive/boardd/tests/test_boardd_spi.py
Due: mypy, pylint

add pytest-repeat (#32612)
  pyproject.toml
Due: none

revert marking some files as unexecutable (#32613)
  selfdrive/debug/test_fw_query_on_routes.py
  selfdrive/test/process_replay/test_processes.py
  tools/car_porting/test_car_model.py
Due: mypy, pylint

ui/cameraview: fix deadlock on exit due to Qt::BlockingQueuedConnection (#32620)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

[torqued] Reduce friction for some Hyundai cars (#32578)
  selfdrive/car/torque_data/override.toml
  selfdrive/car/torque_data/params.toml
  selfdrive/test/process_replay/ref_commit
Due: none

modeld: cleanup commonmodel (#32618)
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/commonmodel.h
Due: cppcheck

Revert "`pytest`: discover `openpilot/` (#32561)" (#32622)
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
Due: none

Hyundai: remove Ioniq EV 2020 CAN fingerprint (#32625)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

Honda: helpful non-essential ECU comment
  selfdrive/car/honda/values.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
