Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Revert "Add low Gnss laikad test (#26987)"
  selfdrive/locationd/laikad.py
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/test/test_laikad.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint, cppcheck

cabana: add support for multiple columns charts (#27000)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
Due: none

Cabana: support live streaming (#26946)
  tools/cabana/SConscript
  tools/cabana/binaryview.cc
  tools/cabana/cabana.cc
  tools/cabana/canmessages.h
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/commands.h
  tools/cabana/dbcmanager.h
  tools/cabana/detailwidget.cc
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/signaledit.h
  tools/cabana/streams/abstractstream.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.cc
  tools/cabana/streams/replaystream.h
  tools/cabana/tools/findsimilarbits.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: none

cameraview: fix spaces in debug print
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

Cabana: darken signal backgrounds on hover (#27010)
  tools/cabana/binaryview.cc
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

UI: show experimental long available to release users (#26910)
  common/params.cc
  selfdrive/car/car_helpers.py
  selfdrive/controls/controlsd.py
  selfdrive/manager/manager.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: mypy, pylint, cppcheck

Multilang: kor translation update (#27013)
  selfdrive/ui/translations/main_ko.ts
Due: none

cabana: improve video splitter (#27012)
  tools/cabana/mainwin.cc
Due: none

UI: update translations during scons build (#27009)
  release/files_common
  selfdrive/ui/SConscript
Due: none

Multilang: add back some translations (#27019)
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: none

Multilang: improve pt-BR translations (#26962)
  selfdrive/ui/translations/main_pt-BR.ts
Due: none

release pre-commit: test translations (#27017)
  .github/workflows/selfdrive_tests.yaml
Due: none

cabana: add a slider to adjust chart range from 1 sec to max cached seconds. (#27005)
  tools/cabana/chartswidget.cc
  tools/cabana/chartswidget.h
  tools/cabana/settings.cc
  tools/cabana/settings.h
  tools/cabana/streams/livestream.h
  tools/cabana/streams/replaystream.cc
Due: none
