Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Update Python packages and pre-commit hooks (#30403)
  .pre-commit-config.yaml
Due: none

Farmville model (#30392)
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

jenkins: disable ciui for now
  selfdrive/test/setup_device_ci.sh
Due: none

Codecov: ignore selfdrive/test (#30407)
  codecov.yml
Due: none

Update RELEASES.md old-commit-hash: 37ba6d85039e7c4bc19d272666f6c24d8b6fe6bf
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: 37ba6d85039e7c4bc19d272666f6c24d8b6fe6bf old-commit-hash: 13f255f144e6c4810d50e0bd7ebed87a891a8f85
  RELEASES.md
Due: none

ui/wifi.cc: fix small QPixmap leak (#30395)
  selfdrive/ui/qt/widgets/wifi.cc
Due: cppcheck

controlsd: reset axes in joystick mode if message is old (#30409)
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Pytest: tici mark for skipping on-device tests (#30412)
  conftest.py
  pyproject.toml
  release/files_common
  selfdrive/boardd/tests/test_pandad.py
  selfdrive/manager/test/test_manager.py
  selfdrive/modeld/tests/test_modeld.py
  selfdrive/navd/tests/test_map_renderer.py
  selfdrive/test/test_onroad.py
  selfdrive/test/test_time_to_onroad.py
  selfdrive/test/test_updated.py
  system/camerad/test/test_camerad.py
  system/hardware/tici/tests/test_hardware.py
  system/hardware/tici/tests/test_power_draw.py
  system/loggerd/tests/test_encoder.py
  system/sensord/rawgps/test_rawgps.py
  system/sensord/tests/test_pigeond.py
  system/sensord/tests/test_sensord.py
  tools/gpstest/test_gps.py
  tools/gpstest/test_gps_qcom.py
Due: mypy, pylint

modeld: handle division by zero (#30411)
  selfdrive/modeld/fill_model_msg.py
Due: mypy, pylint

Update RELEASES.md old-commit-hash: 4967377b3fcfddc1099cd82cd8192893271ad1f1
  RELEASES.md
Due: none

Update RELEASES.md old-commit-hash: 4967377b3fcfddc1099cd82cd8192893271ad1f1 old-commit-hash: 04743b7013bc31b8b914849497078b6954f2458c
  RELEASES.md
Due: none

Pytest: consistent codecov (#30408)
  .github/workflows/selfdrive_tests.yaml
  codecov.yml
  conftest.py
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy, pylint

build_release: increase timeout (#30416)
  .github/workflows/selfdrive_tests.yaml
Due: none

build_release: increase timeout again (#30417)
  .github/workflows/selfdrive_tests.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
