Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Hyundai: update Kona lat accel factor old-commit-hash: 2976260b4f57953ac230f0d85349cf3d0ba23168 old-commit-hash: 3e531dc46e0f86a0b482026918fa37d7182d42ba
  selfdrive/car/torque_data/params.yaml
Due: none

Hyundai: update Kona lat accel factor old-commit-hash: 2976260b4f57953ac230f0d85349cf3d0ba23168
  selfdrive/car/torque_data/params.yaml
Due: none

Undo accidental revert of Toyota: Add FW for 2023 Toyota Camry Hybrid #26654 (#26699)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Sensord: remove unused pm_mutex (#26705)
  selfdrive/sensord/sensors_qcom2.cc
Due: cppcheck

planner: read experimental mode from controlsState (#26553)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

VW MQB: Add FW for 2018 Volkswagen Atlas (#26702)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

Cabana: display dash instead of zero if no data (#26686)
  tools/cabana/binaryview.cc
Due: none

Longitudinal planner: fix tests (#26707)
  selfdrive/test/longitudinal_maneuvers/plant.py
Due: mypy, pylint

Hyundai: Tucson 2023 support (#26427)
  RELEASES.md
  docs/CARS.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: mypy, pylint

releases: fix car port sorting old-commit-hash: a311d936d094b294d22a9ee034380400ec532e91
  RELEASES.md
Due: none

releases: fix car port sorting old-commit-hash: a311d936d094b294d22a9ee034380400ec532e91 old-commit-hash: 99691083ba36c80e2dd68411f99ccdd088271ffa
  RELEASES.md
Due: none

Cabana: show welcome widget if no msg selected (#26703)
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
Due: none

Longitudinal tests: clean up (#26708)
  selfdrive/controls/tests/test_cruise_speed.py
  selfdrive/controls/tests/test_following_distance.py
  selfdrive/test/longitudinal_maneuvers/maneuver.py
  selfdrive/test/longitudinal_maneuvers/plant.py
  selfdrive/test/longitudinal_maneuvers/test_longitudinal.py
Due: mypy, pylint

Revert "Toyota: Don't Set Standstill Bit on TSS-P Prius" (#26709)
  docs/CARS.md
  selfdrive/car/toyota/values.py
Due: mypy, pylint

navmodeld: only render necessary frames (#26698)
  selfdrive/modeld/navmodeld.cc
  selfdrive/navd/map_renderer.cc
Due: cppcheck

add onnx2torch dependency (#26710)
  pyproject.toml
Due: none
