Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Added omegaconf to xx dependencies
  pyproject.toml
Due: none

VW MQB: Add FW for 2019 Škoda Octavia (#26886)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

GM: check radarOffCan in radar_interface (#26885)
  selfdrive/car/gm/radar_interface.py
Due: mypy, pylint

Hyundai: add FW versions for Sonata 2023 (#26880)
  docs/CARS.md
Due: none

European Lexus UX250h 2019: add engine FW (#26895)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

docs: update CAN FD footnote (#26896)
  docs/CARS.md
Due: none

replay: show absolute time (#26869)
  tools/replay/consoleui.cc
  tools/replay/replay.h
  tools/replay/route.cc
  tools/replay/route.h
Due: none

Navigation: add destination marker (#26873)
  selfdrive/assets/navigation/default_marker.svg
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: cppcheck

match style
  selfdrive/ui/qt/maps/map.cc
  selfdrive/ui/qt/maps/map.h
Due: cppcheck

replay: remove need for fake dongle id (#26899)
  tools/replay/route.cc
Due: none

MacOS: homebrew arm-none-eabi-gcc works again (#26903)
  tools/mac_setup.sh
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
