Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

GM: remove GMLAN dash msg (#30547)
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/values.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Toyota: add 2024 RAV4 (#30909)
  RELEASES.md
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Fix badges workflow blocking release/prebuilt workflows from permission and Git-LFS complications (#30947)
  .github/workflows/badges.yaml
Due: none

Add more permissions for pushing in prebuilt workflow (#30948)
  .github/workflows/prebuilt.yaml
Due: none

OS04C10 support (#30658)
  release/files_common
  system/camerad/SConscript
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/sensors/ar0231.cc
  system/camerad/sensors/os04c10.cc
  system/camerad/sensors/os04c10_registers.h
  system/camerad/sensors/sensor.h
Due: cppcheck

Add permissions to build_masterci in release workflow so it can push master-ci (#30949)
  .github/workflows/release.yaml
Due: none

VW MQB: EA driver inactivity workaround (#24711)
  selfdrive/car/volkswagen/carcontroller.py
  selfdrive/car/volkswagen/carstate.py
  selfdrive/car/volkswagen/interface.py
  selfdrive/car/volkswagen/mqbcan.py
  selfdrive/car/volkswagen/values.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

UI/MapETA: Increased contrast of widget texts for better readability (#30952)
  selfdrive/ui/qt/maps/map_eta.cc
Due: cppcheck

SegmentRangeReader: new format for reading multiple segments (#30940)
  tools/car_porting/auto_fingerprint.py
  tools/car_porting/examples/subaru_steer_temp_fault.ipynb
  tools/lib/helpers.py
  tools/lib/route.py
  tools/lib/srreader.py
  tools/lib/tests/test_srreader.py
Due: mypy, pylint

migrate can_print_changes to segmentrangereader (#30953)
  selfdrive/debug/can_print_changes.py
Due: mypy, pylint

segmentrangereader: support sort_by_time (#30954)
  tools/lib/srreader.py
Due: mypy, pylint

buildjet: pin location to de (#30955)
  .github/workflows/selfdrive_tests.yaml
Due: none

Revert "buildjet: pin location to de" (#30956)
  .github/workflows/selfdrive_tests.yaml
Due: none

Enable variable pass between test and metadrive processes (#30961)
  tools/sim/tests/test_sim_bridge.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
