Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Laikad upgrades: prep for laikad lld (#29545)
  selfdrive/locationd/laikad.py
  selfdrive/locationd/test/test_laikad.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

FW query: query one sub-address in parallel (#28675)
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

Revert "FW query: query one sub-address in parallel" (#29550)
  selfdrive/car/fw_versions.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

cpplint: add `readability/braces` filter (#29554)
  .pre-commit-config.yaml
  common/swaglog.h
  common/util.h
  selfdrive/boardd/panda_comms.h
  selfdrive/boardd/spi.cc
  selfdrive/locationd/locationd.cc
  selfdrive/ui/qt/maps/map_settings.h
  selfdrive/ui/qt/offroad/onboarding.h
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/qt/spinner.cc
  selfdrive/ui/soundd/sound.cc
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_util.cc
  system/hardware/base.h
  system/hardware/pc/hardware.h
  system/hardware/tici/hardware.h
  system/loggerd/encoder/encoder.h
  system/sensord/sensors/sensor.h
  system/ubloxd/ublox_msg.cc
  tools/cabana/streams/abstractstream.h
  tools/replay/replay.h
Due: cppcheck

devcontainer: handle hosts without X11 (#29537)
  .devcontainer/.gitignore
  .devcontainer/devcontainer.json
  .devcontainer/setup_host.sh
  .github/workflows/tools_tests.yaml
Due: none

cabana: socketcan support (#27952)
  tools/cabana/README.md
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/streams/pandastream.h
  tools/cabana/streams/socketcanstream.cc
  tools/cabana/streams/socketcanstream.h
  tools/cabana/streamselector.cc
  tools/install_ubuntu_dependencies.sh
Due: none

sensord: setup per-sensor threads (#29558)
  system/sensord/sensors/lsm6ds3_accel.cc
  system/sensord/sensors/sensor.h
  system/sensord/sensors_qcom2.cc
  system/sensord/tests/test_sensord.py
Due: mypy, pylint, cppcheck

Laikad: reset est pos when in bad state (#29559)
  selfdrive/locationd/laikad.py
Due: mypy, pylint

bump cereal (#29561)
  common/util.cc
  common/util.h
  system/loggerd/loggerd.cc
  tools/replay/replay.cc
Due: cppcheck

sensord: lower temperature sensor freq to 2Hz (#29563)
  system/sensord/sensors_qcom2.cc
  system/sensord/tests/test_sensord.py
Due: mypy, pylint, cppcheck

sensord: run as many sensors as possible (#29564)
  system/sensord/sensors_qcom2.cc
Due: cppcheck

sensord: fix LSM magnetometer thermal variation (#29265)
  system/sensord/sensors/mmc5603nj_magn.cc
  system/sensord/sensors/mmc5603nj_magn.h
Due: cppcheck

cpplint: add filter `whitespace/parens` (#29565)
  .pre-commit-config.yaml
  common/gpio.cc
  common/i2c.cc
  common/util.h
  selfdrive/boardd/panda_comms.cc
  selfdrive/boardd/tests/test_boardd_usbprotocol.cc
  selfdrive/locationd/locationd.cc
  selfdrive/modeld/models/commonmodel.cc
  selfdrive/modeld/models/driving.cc
  selfdrive/modeld/tests/snpe_benchmark/benchmark.cc
  selfdrive/modeld/thneed/serialize.cc
  selfdrive/ui/qt/api.cc
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/util.h
  system/logcatd/logcatd_systemd.cc
  system/sensord/sensors/bmx055_magn.cc
  system/sensord/sensors/lsm6ds3_gyro.cc
  system/ubloxd/tests/test_glonass_kaitai.cc
  system/ubloxd/ublox_msg.cc
  system/ubloxd/ublox_msg.h
  system/ubloxd/ubloxd.cc
  tools/cabana/signalview.h
Due: cppcheck
