Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

Toyota: fix missing message check with radar disabled (#29747)
  selfdrive/car/tests/routes.py
  selfdrive/car/toyota/carstate.py
Due: mypy, pylint

encoderd: fix crash when filename is null (#29748)
  system/loggerd/encoder/ffmpeg_encoder.cc
  system/loggerd/encoder/v4l_encoder.cc
  system/loggerd/loggerd.cc
Due: cppcheck

Sim: fix openpilot directory (#29754)
  tools/sim/start_openpilot_docker.sh
Due: none

comma three -> comma device
  selfdrive/car/CARS_template.md
Due: none

gnss raw measurements through nmea port (#29745)
  system/sensord/rawgps/nmeaport.py
Due: mypy, pylint

Subaru: impreza 22 fingerprint (#29765)
  selfdrive/car/subaru/values.py
Due: mypy, pylint

Soundd: Give each alert a volume (#29767)
  selfdrive/ui/soundd/sound.cc
  selfdrive/ui/soundd/sound.h
  selfdrive/ui/tests/test_sound.cc
Due: cppcheck

CI: use pytest for unittesting (#29709)
  .github/workflows/selfdrive_tests.yaml
  selfdrive/athena/tests/test_athenad.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/test/pytest-ci.ini
  system/logmessaged.py
  system/swaglog.py
  system/tests/test_logmessaged.py
  system/ubloxd/tests/test_ublox_processing.py
Due: mypy, pylint

2023 Ford Maverick Ecoboost engine firmware (#29762)
  selfdrive/car/ford/values.py
Due: mypy, pylint

ui: brighten cameraview (#29744)
  selfdrive/ui/qt/widgets/cameraview.cc
Due: cppcheck

Update Python packages and pre-commit hooks (#29774)
  .pre-commit-config.yaml
Due: none

Tests: speedup locationd (#29776)
  selfdrive/locationd/test/test_locationd.py
Due: mypy, pylint
