Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Subaru: longitudinal incorrect "inactive" rpm (#29496)
  selfdrive/car/subaru/carcontroller.py
Due: mypy, pylint

CI: use scons cache mount for building simulator and docs (#29436)
  .github/workflows/setup/action.yaml
  .github/workflows/tools_tests.yaml
  docs/docker/Dockerfile
  selfdrive/test/Dockerfile.scons_cache
  tools/sim/Dockerfile.sim
Due: none

CI: remove old docs base image push (#29512)
  .github/workflows/tools_tests.yaml
Due: none

Revert "Subaru: always show LKAS active (#27945)" (#29515)
  selfdrive/car/subaru/subarucan.py
Due: mypy, pylint

script to install only ubuntu dependencies (#29510)
  Dockerfile.openpilot_base
  tools/install_ubuntu_dependencies.sh
  tools/ubuntu_setup.sh
Due: none

exit if onnxmodel exec fails
  selfdrive/modeld/runners/onnxmodel.cc
Due: cppcheck

Move USE_RUNTIME flags into runmodel.h
  selfdrive/modeld/runners/runmodel.h
  selfdrive/modeld/runners/snpemodel.h
Due: cppcheck

Add cl_create_context function
  common/clutil.cc
  common/clutil.h
Due: cppcheck

Set paths for cl kernels and onnx_runner.py in modeld SConscript
  selfdrive/modeld/SConscript
  selfdrive/modeld/runners/onnxmodel.cc
  selfdrive/modeld/transforms/loadyuv.cc
  selfdrive/modeld/transforms/transform.cc
Due: cppcheck

CI: simulator disable pull to save local space (#29517)
  .github/workflows/tools_tests.yaml
Due: none

CI: use xdist for car model tests (#29514)
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
Due: none

Locationd: switch to laikad (#29278)
  selfdrive/locationd/laikad.py
  selfdrive/locationd/liblocationd.cc
  selfdrive/locationd/locationd.cc
  selfdrive/locationd/locationd.h
  selfdrive/locationd/test/test_laikad.py
  selfdrive/locationd/test/test_locationd.py
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint, cppcheck

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
