Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

cabana: some improvements to messages view (#27935)
  tools/cabana/messageswidget.cc
  tools/cabana/streams/abstractstream.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

canaba: display the opened dbc files in the window title bar. (#27939)
  tools/cabana/mainwin.cc
Due: none

cabana: fixed the freq column for high-freq messages may be incorrectly displayed as a --. (#27940)
  tools/cabana/messageswidget.cc
Due: none

cabana: support direct streaming from panda over USB (#27936)
  selfdrive/boardd/SConscript
  selfdrive/boardd/panda.cc
  tools/cabana/README.md
  tools/cabana/SConscript
  tools/cabana/cabana.cc
  tools/cabana/streams/devicestream.cc
  tools/cabana/streams/devicestream.h
  tools/cabana/streams/livestream.cc
  tools/cabana/streams/livestream.h
  tools/cabana/streams/pandastream.cc
  tools/cabana/streams/pandastream.h
Due: cppcheck

cabana: refactor new msg/signal name generation (#27931)
  tools/cabana/dbc/dbcfile.cc
  tools/cabana/dbc/dbcfile.h
  tools/cabana/dbc/dbcmanager.cc
  tools/cabana/dbc/dbcmanager.h
  tools/cabana/signalview.cc
Due: none

tools: add cabana to README old-commit-hash: 3cd00a9b6cae5865e3b5860f61080cd5bba8cbd7
  tools/README.md
Due: none

tools: add cabana to README old-commit-hash: 3cd00a9b6cae5865e3b5860f61080cd5bba8cbd7 old-commit-hash: 8ddbd6f7ebcb50689cffeeeac800bcd28df286bb
  tools/README.md
Due: none

Subaru: infotainment status intercept and rewrite (#27829)
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/subaru/subarucan.py
  selfdrive/car/subaru/values.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Subaru: always show LKAS active (#27945)
  selfdrive/car/subaru/subarucan.py
Due: mypy, pylint

Subaru: signals cleanup (#27946)
  selfdrive/car/subaru/carcontroller.py
  selfdrive/car/subaru/carstate.py
  selfdrive/car/subaru/subarucan.py
Due: mypy, pylint

cabana: fix unable to scroll to the right edge of the message list. (#27947)
  tools/cabana/messageswidget.cc
  tools/cabana/messageswidget.h
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none

Mazda: CX-9 2022, Mazda6 2018 FW (#27918)
  selfdrive/car/mazda/values.py
Due: mypy, pylint

cabana: fix displaying zero length messages (#27953)
  tools/cabana/util.cc
  tools/cabana/util.h
Due: none
