Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

ui/networking: do not skip the connected network (#29396)
  selfdrive/ui/qt/offroad/wifiManager.cc
Due: cppcheck

Unpin numpy (#29421)
  pyproject.toml
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/locationd/paramsd.py
Due: mypy, pylint

venv in code directory (#29452)
  .dockerignore
  .gitignore
  tools/install_python_dependencies.sh
Due: none

Swap `belowSteerSpeed` and `resumeRequired` alert priorities (#28795)
  selfdrive/controls/lib/events.py
Due: mypy, pylint

test_models: remove body standstill exception (#29453)
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

common/gpio: fix warning on re-export (#29457)
  common/gpio.py
Due: mypy, pylint

ui/map: slight turn lane types (#29446)
  selfdrive/assets/navigation/direction_turn_slight_left_inactive.png
  selfdrive/assets/navigation/direction_turn_slight_right_inactive.png
  selfdrive/navd/helpers.py
  selfdrive/ui/qt/maps/map_instructions.h
Due: mypy, pylint, cppcheck

Rename CivicParams (#29459)
  selfdrive/car/__init__.py
  selfdrive/car/honda/interface.py
Due: mypy, pylint

interfaces: add common STD_CARGO_KG to mass (#29416)
  selfdrive/car/chrysler/interface.py
  selfdrive/car/ford/interface.py
  selfdrive/car/gm/interface.py
  selfdrive/car/honda/interface.py
  selfdrive/car/hyundai/interface.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/interface.py
  selfdrive/car/nissan/interface.py
  selfdrive/car/subaru/interface.py
  selfdrive/car/tesla/interface.py
  selfdrive/car/toyota/interface.py
  selfdrive/car/volkswagen/interface.py
Due: mypy, pylint

map eta: use pair (#29460)
  selfdrive/ui/qt/maps/map_eta.cc
Due: cppcheck

ui/map: better rounding for distances (#29151)
  selfdrive/ui/qt/maps/map_eta.cc
  selfdrive/ui/qt/maps/map_helpers.cc
  selfdrive/ui/qt/maps/map_helpers.h
  selfdrive/ui/qt/maps/map_instructions.cc
  selfdrive/ui/qt/maps/map_instructions.h
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
Due: cppcheck

CAN fingerprint: test fingerprint response (#29462)
  selfdrive/car/tests/test_can_fingerprint.py
Due: mypy, pylint

Ford: Kuga 2022 fingerprint (#29449)
  selfdrive/car/ford/values.py
Due: mypy, pylint

CAN fingerprint: timing test (#29461)
  selfdrive/car/tests/test_can_fingerprint.py
Due: mypy, pylint
