Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

devcontainer: mount /dev (#32500)
  .devcontainer/devcontainer.json
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32501)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

CI: cleanup PR review jobs (#32503)
  .github/workflows/auto_pr_review.yaml
Due: none

more apt dependency cleanup (#32502)
  tools/install_ubuntu_dependencies.sh
Due: none

Ford: detect missing LKAS from EPS configuration (#31821)
  selfdrive/car/ford/interface.py
Due: mypy, pylint

ui/update_dmonitoring: Improve readability of r_xyz matrix initialization (#32359)
  selfdrive/ui/ui.cc
Due: cppcheck

fix(modeld): Fix for unpredictable behavior in commonmodel_pyx.pyx (#32482)
  selfdrive/modeld/models/commonmodel_pyx.pyx
Due: none

Hyundai: add fingerprint for 2020 IONIQ PHEV (#31301)
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

Additional Subaru Impreza 2022 Fingerprint (#31916)
  selfdrive/car/subaru/fingerprints.py
Due: mypy, pylint

card: only exit ELM once done with ECU knock outs (#32505)
  selfdrive/car/card.py
  selfdrive/controls/controlsd.py
Due: mypy, pylint

Revert "Ford: detect missing LKAS from EPS configuration (#31821)"
  selfdrive/car/ford/interface.py
Due: mypy, pylint

devcontainer: add bash-completion (#32510)
  .devcontainer/Dockerfile
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32511)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

CI: Drive a loop in MetaDrive (#32308)
  tools/sim/bridge/common.py
  tools/sim/bridge/metadrive/metadrive_bridge.py
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/scenarios/metadrive/stay_in_lane.py
  tools/sim/tests/conftest.py
  tools/sim/tests/test_metadrive_bridge.py
  tools/sim/tests/test_sim_bridge.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
