Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Corolla 2019 GX New Zealand: add missing FW versions (#26746)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Add missing FW versions for Audi S3/A3 (#26555)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

camerad: lower cost for OX high gain idxs (#26775)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
Due: cppcheck

athenad: more types (#25877)
  selfdrive/athena/athenad.py
  selfdrive/athena/tests/test_athenad.py
Due: mypy, pylint

GM: add checksum to button message (#26014)
  selfdrive/car/gm/gmcan.py
Due: mypy, pylint

update refs for GM checksum change
  selfdrive/test/process_replay/ref_commit
Due: none

HKG CAN-FD: common distance unit signal (#26758)
  selfdrive/car/hyundai/carstate.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

Honda Radarless: clean up disabled radar check (#26776)
  selfdrive/car/honda/hondacan.py
Due: mypy, pylint

Cabana: add signal value filters to the logs view (#26779)
  tools/cabana/canmessages.cc
  tools/cabana/canmessages.h
  tools/cabana/detailwidget.cc
  tools/cabana/detailwidget.h
  tools/cabana/historylog.cc
  tools/cabana/historylog.h
  tools/cabana/signaledit.cc
  tools/cabana/signaledit.h
Due: none

Cabana: add not equal (!=) filter (#26780)
  tools/cabana/historylog.cc
Due: none

HKG CAN-FD: log brake errors/ACC faults (#26781)
  selfdrive/car/hyundai/carstate.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
