Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

more common/ pruning (#30778)
  common/ffi_wrapper.py
  common/lazy_property.py
  common/numpy_helpers.py
Due: mypy, pylint

dependency: remove pycurl package (#30771)
  pyproject.toml
  system/qcomgpsd/qcomgpsd.py
  tools/lib/url_file.py
Due: mypy, pylint

fix unused
  tools/lib/url_file.py
Due: mypy, pylint

packages cleanup, part two
  pyproject.toml
Due: none

camerad: cleanup includes (#30782)
  selfdrive/ui/qt/onroad.cc
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_qcom2.h
  system/camerad/sensors/ar0231.cc
  tools/cabana/streams/replaystream.cc
  tools/replay/consoleui.cc
Due: cppcheck

camerad: zero memory before returning from MemoryManager::alloc (#30781)
  system/camerad/cameras/camera_qcom2.cc
  system/camerad/cameras/camera_util.cc
Due: cppcheck

Move all fingerprints to fingerprints.py (#30790)
  .github/labeler.yaml
  selfdrive/car/README.md
  selfdrive/car/body/fingerprints.py
  selfdrive/car/body/values.py
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/chrysler/values.py
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
  selfdrive/car/fw_query_definitions.py
  selfdrive/car/fw_versions.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/tests/test_gm.py
  selfdrive/car/gm/values.py
  selfdrive/car/honda/fingerprints.py
  selfdrive/car/honda/tests/test_honda.py
  selfdrive/car/honda/values.py
  selfdrive/car/hyundai/tests/print_platform_codes.py
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/interfaces.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/mazda/values.py
  selfdrive/car/nissan/fingerprints.py
  selfdrive/car/nissan/values.py
  selfdrive/car/subaru/fingerprints.py
  selfdrive/car/subaru/values.py
  selfdrive/car/tesla/fingerprints.py
  selfdrive/car/tesla/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/toyota/tests/print_platform_codes.py
  selfdrive/car/toyota/tests/test_toyota.py
  selfdrive/car/toyota/values.py
  selfdrive/car/volkswagen/fingerprints.py
  selfdrive/car/volkswagen/values.py
  selfdrive/debug/auto_fingerprint.py
Due: mypy, pylint

run test_fuzzy.py with pytest
  .github/workflows/selfdrive_tests.yaml
  pyproject.toml
Due: none

Update README.md (#30793)
  README.md
Due: none

Add GH project to bounties.md (#30791)
  docs/BOUNTIES.md
Due: none

test_models: fuzz test panda and CarState (#30443)
  Jenkinsfile
  conftest.py
  selfdrive/car/tests/test_models.py
Due: mypy, pylint

cleanup fingerprinting typing (#30801)
  selfdrive/car/fingerprints.py
  selfdrive/car/fw_query_definitions.py
Due: mypy, pylint

refactor swaglog (#30795)
  common/swaglog.cc
  common/util.h
Due: cppcheck

Simulator: only send camera frames at rate that they are generated (#30802)
  tools/sim/bridge/metadrive/metadrive_process.py
  tools/sim/bridge/metadrive/metadrive_world.py
  tools/sim/lib/common.py
  tools/sim/lib/simulated_sensors.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
