Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

soundd/micd: increase stream buffer size (#30685)
  selfdrive/test/test_onroad.py
  selfdrive/ui/soundd.py
  system/micd.py
Due: mypy, pylint

FW query timing test: mock get_data function for timeout (#29712)
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

Update values.py for VW Passat MK8 (#30646)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

HKG: Car Port for Kia Niro Plug-in Hybrid 2022 (#30576)
  RELEASES.md
  selfdrive/car/hyundai/interface.py
  selfdrive/car/tests/routes.py
  selfdrive/car/torque_data/substitute.yaml
Due: mypy, pylint

Simulator: remove carla (#30690)
  .devcontainer/devcontainer.json
  README.md
  pyproject.toml
  tools/sim/README.md
  tools/sim/bridge/carla/carla_bridge.py
  tools/sim/bridge/carla/carla_world.py
  tools/sim/lib/simulated_sensors.py
  tools/sim/run_bridge.py
  tools/sim/start_carla.sh
  tools/sim/start_openpilot_docker.sh
  tools/sim/tests/test_carla_bridge.py
  tools/sim/tests/test_sim_bridge.py
  tools/sim/tmux_script.sh
Due: mypy, pylint

camerad/CameraBuf: rename yuv_type to stream_type (#30695)
  system/camerad/cameras/camera_common.cc
  system/camerad/cameras/camera_common.h
Due: cppcheck

Revert "FW query timing test: mock get_data function for timeout" (#30696)
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

Ford: add CAN FD harness info (#30698)
  selfdrive/car/ford/values.py
Due: mypy, pylint

Simulator: --simulator is no longer an argument (#30700)
  tools/sim/README.md
Due: none

VW MQB: Add FW for 2020 Škoda Superb (#30699)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

blue diamond model 💎 (#30504)
  selfdrive/modeld/models/supercombo.onnx
  selfdrive/test/process_replay/model_replay_ref_commit
Due: none

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
