Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

navd: generate new JWT for each request (#32017)
  selfdrive/navd/navd.py
Due: mypy, pylint

Hyundai: remove outdated fwdRadar FW (#32019)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy, pylint

Hyundai: remove outdated eps FW (#32020)
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/hyundai/tests/test_hyundai.py
Due: mypy, pylint

Hyundai: update G70 2022+ harness (#32021)
  selfdrive/car/hyundai/values.py
Due: mypy, pylint

Hyundai: clean up FW queries (#32022)
  selfdrive/car/hyundai/tests/test_hyundai.py
  selfdrive/car/hyundai/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

Added my VW Passat B8 2018 Fingerprint (#31939)
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

replay/cabana : support segment range (#32026)
  tools/replay/replay.cc
  tools/replay/route.cc
  tools/replay/route.h
Due: none

simulator: Remove comma pedal sensor (#32030)
  tools/sim/lib/simulated_car.py
Due: mypy, pylint

ui: move struct Alert into OnroadAlerts (#32024)
  selfdrive/ui/qt/onroad.cc
  selfdrive/ui/qt/onroad.h
  selfdrive/ui/translations/main_ar.ts
  selfdrive/ui/translations/main_de.ts
  selfdrive/ui/translations/main_fr.ts
  selfdrive/ui/translations/main_ja.ts
  selfdrive/ui/translations/main_ko.ts
  selfdrive/ui/translations/main_pt-BR.ts
  selfdrive/ui/translations/main_th.ts
  selfdrive/ui/translations/main_tr.ts
  selfdrive/ui/translations/main_zh-CHS.ts
  selfdrive/ui/translations/main_zh-CHT.ts
  selfdrive/ui/ui.h
Due: cppcheck

ui/initApp(): remove temporary QApplication object (#32011)
  selfdrive/ui/qt/util.cc
Due: cppcheck

Multilang: kor translation update (#32036)
  selfdrive/ui/translations/main_ko.ts
Due: none

Simplify cabana dbc dict (#32041)
  selfdrive/car/fingerprints.py
  tools/cabana/dbc/generate_dbc_json.py
Due: mypy, pylint

juggle.py: migrate platform name (#32042)
  .github/workflows/tools_tests.yaml
  tools/plotjuggler/juggle.py
Due: mypy, pylint

[bot] Fingerprints: add missing FW versions from new users (#32039)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
  selfdrive/car/volkswagen/fingerprints.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
