Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

athenad: return normalized origin in getVersion() (#31283)
  selfdrive/athena/athenad.py
Due: mypy, pylint

use pytest for release tests (#31280)
  .github/workflows/release.yaml
Due: none

simplify git remote is comma check (#31284)
  selfdrive/athena/athenad.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
  selfdrive/manager/manager.py
  selfdrive/sentry.py
  selfdrive/test/process_replay/test_processes.py
  selfdrive/tombstoned.py
  system/version.py
Due: mypy, pylint

logging: make swaglog context match in python and c (#31288)
  common/swaglog.cc
  selfdrive/athena/manage_athenad.py
  selfdrive/manager/manager.py
Due: mypy, pylint, cppcheck

Test car interfaces: init controllers (#31282)
  selfdrive/car/tests/test_car_interfaces.py
Due: mypy, pylint

car_helpers: don't log fingerprints as a dict (#31289)
  selfdrive/car/car_helpers.py
Due: mypy, pylint

add cavli modem config (#31297)
  system/hardware/tici/hardware.py
Due: mypy, pylint

tools: fix up can_replay
  tools/replay/can_replay.py
Due: mypy, pylint

compressed_vipc supports all frame sizes
  tools/camerastream/compressed_vipc.py
Due: mypy, pylint

Revert "Ford: don't fingerprint on engine (#31195)"
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
  selfdrive/car/tests/test_fw_fingerprint.py
Due: mypy, pylint

[bot] Update Python packages and pre-commit hooks (#31300)
  .pre-commit-config.yaml
Due: none

updated: close lock file on exit (#31285)
  selfdrive/updated.py
Due: mypy, pylint

Reapply "Ford: don't fingerprint on engine (#31195)" (#31303)
  selfdrive/car/ford/fingerprints.py
  selfdrive/car/ford/tests/test_ford.py
  selfdrive/car/ford/values.py
Due: mypy, pylint
