Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-ast
        exclude: '^(pyextra)/'
    -   id: check-json
    -   id: check-xml
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-added-large-files
        args: ['--maxkb=100']
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '^(pyextra/)|(third_party/)|(body/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(include/)|(selfdrive/ui/translations/.*.ts)|(selfdrive/controls/lib/cluster)'
        args:
        # if you've got a short variable name that's getting flagged, add it here
        - -L bu,ro,te,ue,alo,hda,ois,nam,nams,ned,som,parm,setts,inout,warmup
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)'
-   repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(opendbc/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(selfdrive/debug/)/'
        additional_dependencies: ['flake8-no-implicit-concat']
        args:
        - --indent-size=2
        - --enable-extensions=NIC
        - --select=F,E112,E113,E304,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --statistics
        - -j4
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: '^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)'
        args:
        - -rn
        - -sn
        - --rcfile=.pylintrc
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: '^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)'
        args:
        - --error-exitcode=1
        - --language=c++
        - --quiet
        - --force
        - -j8
-   repo: local
    hooks:
    -   id: test_translations
        name: test translations
        entry: selfdrive/ui/tests/test_translations.py
        language: script
        pass_filenames: false

ui: single-threaded CameraView (#32291)
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/watch3.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: cppcheck

bump up cars timeout for the GHA runners old-commit-hash: 861c52e01579f4ce86a2f19f2014afa2af1ae501 old-commit-hash: e78b7b1ece7ac55a2a59ad2526295ec306282bc8
  .github/workflows/selfdrive_tests.yaml
Due: none

bump up cars timeout for the GHA runners old-commit-hash: 861c52e01579f4ce86a2f19f2014afa2af1ae501
  .github/workflows/selfdrive_tests.yaml
Due: none

remove unittest dependency from test_ui (#32432)
  selfdrive/ui/tests/test_ui/run.py
Due: mypy, pylint

remove gcc from mac_setup.sh
  tools/mac_setup.sh
Due: none

dmonitoringd: don't check for buttonEvents or vCruise change (#32454)
  selfdrive/monitoring/dmonitoringd.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

add [project] section to pyproject.toml old-commit-hash: 985b22d4b77c20a81a6329fe8cf810103f871aa6 old-commit-hash: cf1d96fef8ae5a8135b7c953e993339a794acc21
  pyproject.toml
Due: none

add [project] section to pyproject.toml old-commit-hash: 985b22d4b77c20a81a6329fe8cf810103f871aa6
  pyproject.toml
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32468)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
Due: mypy, pylint

CI: fix metadrive test (#32457)
  .github/workflows/tools_tests.yaml
  tools/sim/tests/test_metadrive_bridge.py
Due: mypy, pylint

remove libopencv-dev (#32469)
  tools/install_ubuntu_dependencies.sh
Due: none

gc unused python deps
  pyproject.toml
Due: none

control is still used
  pyproject.toml
Due: none

CI: remove redundant pj job
  .github/workflows/tools_tests.yaml
Due: none

Revert "ui: single-threaded CameraView (#32291)"
  selfdrive/ui/qt/offroad/driverview.cc
  selfdrive/ui/qt/offroad/driverview.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/widgets/cameraview.cc
  selfdrive/ui/qt/widgets/cameraview.h
  selfdrive/ui/watch3.cc
  tools/cabana/videowidget.cc
  tools/cabana/videowidget.h
Due: cppcheck

deps: add rerun-sdk into pyproject.toml (#32472)
  pyproject.toml
  tools/rerun/run.py
Due: mypy, pylint
