Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Tesla: half the DAS_steeringControl message rate (#27503)
  selfdrive/car/tesla/carcontroller.py
  selfdrive/car/tesla/teslacan.py
  selfdrive/car/tesla/values.py
Due: mypy, pylint

Toyota: remove incorrect FW version (#28362)
  selfdrive/car/toyota/values.py
Due: mypy, pylint

Ford: fix minor typos
  selfdrive/car/ford/values.py
Due: mypy, pylint

rename angled mount (#28368)
  selfdrive/car/docs_definitions.py
Due: mypy, pylint

cabana: Support parsing of multi-line comments (#28345)
  tools/cabana/dbc/dbcfile.cc
Due: none

Remove INDI controller (#28366)
  release/files_common
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/tests/test_latcontrol.py
Due: mypy, pylint

Toggles: Reorganize in descending importance for driving (#28364)
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

VW MQB: Angled mounts for Transporter and Crafter (#28302)
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

fw_versions: add some typing (#28369)
  selfdrive/car/fw_versions.py
Due: mypy, pylint

IsoTpParallelQuery: remove spammy log (#28372)
  selfdrive/car/isotp_parallel_query.py
Due: mypy, pylint

Radard: just get relative speed from model (#27493)
  selfdrive/controls/lib/radar_helpers.py
  selfdrive/controls/radard.py
  selfdrive/test/process_replay/ref_commit
Due: mypy, pylint

replay: lock uiDebug and userFlag messages behind all flag (#28349)
  tools/cabana/streams/replaystream.cc
  tools/replay/main.cc
  tools/replay/replay.cc
  tools/replay/replay.h
  tools/replay/tests/test_replay.cc
Due: none

regen: fix params (#28375)
  selfdrive/test/process_replay/process_replay.py
  selfdrive/test/process_replay/regen.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
