Repository tatou1000/nanopilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, cppcheck

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

Fix openpilot-prebuilt dockerfile (#32787)
  Dockerfile.openpilot
Due: none

Remove pyenv (#32786)
  Dockerfile.openpilot_base
  tools/install_python_dependencies.sh
  tools/install_ubuntu_dependencies.sh
Due: none

VW: Rename harnesses (#32779)
  selfdrive/car/docs_definitions.py
  selfdrive/car/volkswagen/values.py
Due: mypy, pylint

macOS: remove pyenv
  tools/mac_setup.sh
Due: none

remove nav apt dependencies (#32792)
  tools/install_ubuntu_dependencies.sh
Due: none

remove `timezone` from `timed.py` (#32665)
  common/params.cc
  pyproject.toml
  system/timed.py
Due: mypy, pylint, cppcheck

add core python deps (#32794)
  pyproject.toml
Due: none

replay: fix hangs on exit (#32795)
  tools/replay/camera.cc
  tools/replay/replay.cc
Due: none

ci: push docker image to openpilot-base (#32801)
  .github/workflows/selfdrive_tests.yaml
Due: none

Toyota: add another blacklisted FW character
  selfdrive/car/toyota/tests/test_toyota.py
Due: mypy, pylint

Long planner: small cleanup (#32804)
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, pylint

cabana: fix chart value tip flickers when the mouse moves over it (#32796)
  tools/cabana/chart/chart.cc
  tools/cabana/chart/chart.h
  tools/cabana/chart/chartswidget.cc
  tools/cabana/chart/chartswidget.h
  tools/cabana/chart/tiplabel.cc
  tools/cabana/mainwin.cc
  tools/cabana/mainwin.h
Due: none

[bot] Fingerprints: add missing FW versions from new users (#32803)
  selfdrive/car/chrysler/fingerprints.py
  selfdrive/car/hyundai/fingerprints.py
  selfdrive/car/mazda/fingerprints.py
  selfdrive/car/toyota/fingerprints.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(opendbc/)|(panda/)|(laika/)|(laika_repo/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(xx/)
  pylint: any of: \.py$, but not: ^(pyextra/)|(cereal/)|(rednose/)|(panda/)|(laika/)|(laika_repo/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: ^(third_party/)|(pyextra/)|(cereal/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)
